Repository IntersectMBO/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coot, @bolt12, @nfrisby, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson, @dnadales, @input-output-hk/devops, @newhoggy, @Jasagredo

Enforce version bounds per-bundle and inter-bundle
  ouroboros-consensus-byron-test/ouroboros-consensus-byron-test.cabal
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byronspec/ouroboros-consensus-byronspec.cabal
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-tools/ouroboros-consensus-cardano-tools.cabal
  ouroboros-consensus-cardano/changelog.d/20230228_130310_jasataco_enforce_bundle_constraints.md
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus-mock-test/ouroboros-consensus-mock-test.cabal
  ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-tutorials/changelog.d
  ouroboros-consensus-tutorials/ouroboros-consensus-tutorials.cabal
  ouroboros-consensus/CHANGELOG.md
  ouroboros-consensus/changelog.d/20230228_130303_jasataco_enforce_bundle_constraints.md
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Improve GHA situation
  .github/workflows/build.yml
  .github/workflows/cabal.project.local.Linux
  .github/workflows/cabal.project.local.Windows
  .github/workflows/check-git-dependencies.yml
  .github/workflows/checks.yml
  .github/workflows/consensus-changelog-consistency.yml
  bors.toml
  cardano-ping/cardano-ping.cabal
  nix/cells/cloud/actions.nix
  scripts/ci/check-git-dependencies.sh
Owners: @coot, @newhoggy, @Jasagredo, @input-output-hk/devops, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @bolt12, @nfrisby

Run only one concurrent workflow on GHA
  .github/workflows/build.yml
  .github/workflows/checks.yml
Owners: @coot, @newhoggy, @Jasagredo, @input-output-hk/devops, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

Add changelog.d a symlink to o-c-byronspec
  ouroboros-consensus-byronspec/changelog.d
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Output the mempool benchmark results as JSON
  ouroboros-consensus-test/bench-mempool/Main.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Marcin Armando Nick      "Higher ups"
*                                  @coot  @bolt12 @nfrisby  @input-output-hk/consensus-superowners @input-output-hk/network-superowners

# Network Team

docs                               @coot @bolt12 @njd42 @peterwthomson @input-output-hk/network-superowners

monoidal-synchronization           @coot @input-output-hk/network-superowners
network-mux                        @coot @input-output-hk/network-superowners
ntp-client                         @coot @input-output-hk/network-superowners

ouroboros-network-api              @coot @input-output-hk/network-superowners
ouroboros-network-framework        @coot @input-output-hk/network-superowners
ouroboros-network-mock             @coot @input-output-hk/network-superowners
ouroboros-network-protocols        @coot @input-output-hk/network-superowners
ouroboros-network-testing          @coot @input-output-hk/network-superowners
ouroboros-network                  @coot @input-output-hk/network-superowners
ouroboros-network/wireshark-plugin @coot @input-output-hk/network-superowners

cardano-client                     @coot @input-output-hk/network-superowners
cardano-ping                       @coot @input-output-hk/network-superowners

scripts/haddocs.sh                 @coot @input-output-hk/network-superowners
scripts/install.ps1                @coot @input-output-hk/network-superowners

# Consensus Team

ouroboros-consensus-byron-test/    @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-tools/ @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-diffusion/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-protocol/      @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-tutorials/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus/               @nfrisby @dnadales @input-output-hk/consensus-superowners

scripts/check-stylish.sh           @nfrisby @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/                 @coot @newhoggy @Jasagredo @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

cabal.project.local.github-pages   @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/github-page.yml  @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
