Repository IntersectMBO/ouroboros-network, pull requests merged in 2018-12, with the labels that each got.

#134 trim typed-transitions dependencies, use QuickCheck 2.12 even on older GHCs, allow STM prior to 2.5
  .travis.yml
  nix/nixpkgs.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/MonadClass/MonadSTM.hs
  ouroboros-network/src/Ouroboros/Network/Sim.hs
  typed-transitions/default.nix
  typed-transitions/src/Protocol/PingPong/Codec.hs
  typed-transitions/src/Protocol/PingPong/Examples.hs
  typed-transitions/test/Test/Protocol/Codec/PingPong.hs
  typed-transitions/typed-transitions.cabal
Labels: nix

#145 Removed old Codec/ByteChannel/MsgChannel and Framing
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/ByteChannel.hs
  ouroboros-network/src/Ouroboros/Network/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Framing.hs
  ouroboros-network/src/Ouroboros/Network/MsgChannel.hs
Labels: networking

#100 Implement ChainFragment as a Finger Tree
  archive/FingerTree.hs
  nix/fingertree-0.1.4.2.nix
  nix/nixpkgs.nix
  ouroboros-consensus/default.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock.hs
  ouroboros-network/default.nix
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/ChainFragment.hs
  ouroboros-network/src/Ouroboros/Network/Testing/ConcreteBlock.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Test/Chain.hs
  ouroboros-network/test/Test/ChainFragment.hs
Labels: consensus, networking
