Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-03, with the labels that each got.

#341 Convert ImmutableDB from EpochSlot/RelativeSlot to Slot
  byron-proxy/byron-proxy.cabal
  byron-proxy/src/exec/Main.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/DB.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/Index.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/Types.hs
  default.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Sim.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/Orphans/Arbitrary.hs
Labels: WIP, consensus

#353 Removed shell.nix
  shell.nix
Labels: nix

#382 Add explicit support for EBBs to the ImmutableDB
  .stack-to-nix.cache
  byron-proxy/byron-proxy.cabal
  byron-proxy/src/exec/Main.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/ChainSync/Server.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/DB.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/Index.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/Types.hs
  nix/.stack-pkgs.nix
  nix/.stack.nix/byron-proxy.nix
  nix/.stack.nix/cardano-sl-binary-test.nix
  nix/.stack.nix/cardano-sl-binary.nix
  nix/.stack.nix/cardano-sl-chain-test.nix
  nix/.stack.nix/cardano-sl-chain.nix
  nix/.stack.nix/cardano-sl-core-test.nix
  nix/.stack.nix/cardano-sl-core.nix
  nix/.stack.nix/cardano-sl-crypto-test.nix
  nix/.stack.nix/cardano-sl-crypto.nix
  nix/.stack.nix/cardano-sl-db.nix
  nix/.stack.nix/cardano-sl-infra.nix
  nix/.stack.nix/cardano-sl-networking.nix
  nix/.stack.nix/cardano-sl-util-test.nix
  nix/.stack.nix/cardano-sl-util.nix
  nix/.stack.nix/cardano-sl.nix
  nix/iohk-nix-src.json
  nix/regenerate.sh
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/Orphans/Arbitrary.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Direct.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Examples.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Server.hs
  stack.yaml
Labels: consensus

#315 Volatile db: simulated errors
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus

#360 Add a sketch of a DeltaQ / GSV API
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/DeltaQ.hs
Labels: networking
