Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-02, with the labels that each got.

#137 add a draft of the statemachine specification
  .gitignore
  doc/Makefile
  doc/README.md
  doc/latexmkrc
  doc/messages.cddl
  doc/network.tex
  doc/references.bib
  doc/shell.nix
Labels: networking

#272 Provide a proper nix-shell experience, with coherent dependencies, cabal-install and Hoogle
  default.nix
  nix/overrides.nix
  nsh.sh
  pkgs.nix
  shell.nix
Labels: nix

#260 Add agency proofs to the `Protocol` instance
  typed-protocols/src/Network/TypedProtocol/Core.hs
  typed-protocols/src/Network/TypedProtocol/PingPong/Tests.hs
  typed-protocols/src/Network/TypedProtocol/PingPong/Type.hs
  typed-protocols/src/Network/TypedProtocol/Proofs.hs
  typed-protocols/src/Network/TypedProtocol/ReqResp/Type.hs
Labels: networking

#188 Add State Machine Tests for ImmutableDB
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/MockFS.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/STM.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/src/Ouroboros/Storage/Util/ErrorHandling.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Sim.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
Labels: WIP, consensus

#279 ReqResp codec tests
  typed-protocols/src/Network/TypedProtocol/PingPong/Tests.hs
  typed-protocols/src/Network/TypedProtocol/ReqResp/Codec.hs
  typed-protocols/src/Network/TypedProtocol/ReqResp/Tests.hs
  typed-protocols/src/Network/TypedProtocol/ReqResp/Type.hs
  typed-protocols/test/Main.hs
  typed-protocols/typed-protocols.cabal
Labels: networking

#289 Simulate corruptions in the State Machine Tests of ImmutableDB
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
Labels: consensus

#294 Remove accidentally left-over module Test.Orphans.Arbitrary
  ouroboros-consensus/test-util/Test/Orphans/Arbitrary.hs
Labels: consensus

#295 Add missing tryReadTBQueue implementations to MonadSTM instances
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/STM.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
Labels: consensus

#163 Volatile db
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#316 Fixed shell-nix
  shell.nix
Labels: nix

#326 Add `generalBracket`
  io-sim-classes/src/Control/Monad/Class/MonadThrow.hs
Labels: consensus, networking

#335 Do not require ouroboros-network in ouroboros-network:tests
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/PingPong/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ReqResp/Test.hs
  ouroboros-network/test/Main.hs
Labels: networking
