Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-09, with the labels that each got.

#1003 test-consensus: re-enable RealPBFT tests
  ouroboros-consensus/test-consensus/Test/Dynamic/RealPBFT.hs
Labels: consensus, testing

#1016 Added handshake tracers
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Socket.hs
  ouroboros-network/test/Test/Socket.hs
  ouroboros-network/test/Test/Subscription.hs
Labels: byron-proxy, cardano-explorer, cardano-node, consensus, networking

#1011 update comment on pbftSignatureThreshold
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
Labels: consensus

#1002 Use fewer test cases when testing the RealPBFT setup
  ouroboros-consensus/test-consensus/Test/Dynamic/RealPBFT.hs
Labels: consensus, testing

#1037 [#1029] Trace ApplyTxErrs along with rejected txs in Mempool
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#1036 Add a test which checks that codecs produce valid cbor encoding
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testing/Utils.hs
Labels: testing

#1009 test-consensus: add MiniProtocolFatalException
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
Labels: consensus, testing

#1049 Cache the ByronHeader(OrEBB) hash
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
Labels: consensus

#1057 Introduce `Handle` abstraction for `HasFS`
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Condense.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Handle.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/MockFS.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/Pure.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/STM.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus
