Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-12, with the labels that each got.

#1315 consensus: typos and elaborations in comments
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT/ChainState.hs
Labels: consensus, pbft

#1216 Remove unit test
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
Labels: consensus

#1329 Rename Aux.hs to Auxiliary.hs as it broke Windows
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Auxiliary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/PBFT.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Ledger/Byron.hs
Labels: Windows, consensus

#1341 Add golden tests for Byron encodings
  nix/.stack.nix/ouroboros-consensus.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/test-consensus/Test/Consensus/Ledger/Byron.hs
  ouroboros-consensus/test-consensus/golden/cbor/byron/ChainState
  ouroboros-consensus/test-consensus/golden/cbor/byron/GenTxId
  ouroboros-consensus/test-consensus/golden/cbor/byron/LedgerState
Labels: consensus

#1347 Add protocolSlotLength
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ChainSyncClient.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/BFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/LeaderSchedule.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/PBFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Praos.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/RealPBFT.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus

#1337 test-consensus: refactor PBft ChainState tests
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/test-util/Test/Util/Split.hs
Labels: pbft

#1343 realBlockchainTime: block until the start time has come
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime.hs
Labels: consensus

#1371 Make block production optional
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
Labels: consensus

#1369 Trace a message when the blockchainTime starts in the future
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/tools/db-convert/Main.hs
Labels: consensus

#1367 Delete out-of-date PLAN.md
  ouroboros-consensus/PLAN.md
Labels: consensus, maintenance

#1374 Add missing ChainDB parameter
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: chain db, consensus

#1379 VolatileDB: fix memory leak
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Util.hs
Labels: consensus, volatile db

#1381 LgrDB: correctly garbage collect previously applied points
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/LgrDB.hs
Labels: chain db, consensus

#1227 Pass only headers to chainsel
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/MockChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model/Test.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: consensus
