Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-07, with the labels that each got.

#564 Block fetch: prioritise peer chains
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/DeltaQ.hs
  ouroboros-network/src/Ouroboros/Network/DeltaQ.hs
Labels: networking

#689 Preparatory work before merging the ChainDB implementation
  ouroboros-consensus/src/Ouroboros/Consensus/BlockFetchServer.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncServer.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ThreadRegistry.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Mock.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/src/Ouroboros/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ChainSyncClient.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/Chain.hs
  ouroboros-network/src/Ouroboros/Network/ChainFragment.hs
  ouroboros-network/src/Ouroboros/Network/ChainProducerState.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Examples.hs
  ouroboros-network/test/Test/AnchoredFragment.hs
  ouroboros-network/test/Test/ChainFragment.hs
  ouroboros-network/test/Test/ChainGenerators.hs
  ouroboros-network/test/Test/ChainProducerState.hs
  ouroboros-network/test/Test/Mux.hs
  ouroboros-network/test/Test/Pipe.hs
  ouroboros-network/test/Test/Socket.hs
Labels: consensus

#697 [#695] Introduce Mempool snapshot functionality
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: consensus

#703 Remove redundant Ord (GenTxId blk) constraint from Mempool.Impl
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: consensus

#717 Plan updates
  ouroboros-consensus/PLAN.md
Labels: consensus

#716 Extend TraceSendRecv type
  network-mux/src/Network/Mux/Interface.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
  typed-protocols/src/Network/TypedProtocol/Core.hs
  typed-protocols/src/Network/TypedProtocol/Driver.hs
  typed-protocols/src/Network/TypedProtocol/Driver/ByteLimit.hs
  typed-protocols/src/Network/TypedProtocol/PingPong/Tests.hs
  typed-protocols/src/Network/TypedProtocol/PingPong/Type.hs
  typed-protocols/src/Network/TypedProtocol/ReqResp/Type.hs
  typed-transitions/src/Protocol/PingPong/Type.hs
Labels: networking

#707 Introduce some basic Mempool tests
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxSeq.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ChainSyncClient.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/TestTx.hs
Labels: consensus

#696 [#685] [#669] Return newly added transactions from addTxs and add Mempool tracing
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxSeq.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/TxSubmission.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus

#744 Prepare to switch over to the ChainDB implementation
  .stack-to-nix.cache
  cabal.project
  nix/.stack.nix/cardano-crypto-test.nix
  nix/.stack.nix/cardano-crypto-wrapper.nix
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-ledger.nix
  nix/.stack.nix/cardano-shell.nix
  nix/.stack.nix/contra-tracer.nix
  nix/.stack.nix/iohk-monitoring.nix
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Ledger/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Ledger/Mock/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Ledger/Mock/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Stake.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/SlotBounded.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/General.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  stack.yaml
Labels: consensus, staging

#743 Fix faulty assertion in the ChainDB readers
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Reader.hs
Labels: bug, consensus

#748 Don't trace mempool events when the batch of txs is empty
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#752 Fix infinite loop in chain selection
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ChainSel.hs
Labels: bug, consensus, staging

#772 Remove unused nonNegIntR
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Random.hs
Labels: consensus

#727 Separate Demo- from Node-related things
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Demo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Byron/Elaborate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Config.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/PraosRule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/BFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/General.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/LeaderSchedule.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/PBFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Praos.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Util.hs
  ouroboros-consensus/test-util/Test/Util/HasCreator.hs
  ouroboros-consensus/test-util/Test/Util/Orphans/Arbitrary.hs
Labels: consensus, staging

#776 Remove more trace/output/demo related constraints from RunNode
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Ledger/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
Labels: consensus, staging

#746 Introduce txSize
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus, staging

#739 Integrate the transaction submission protocol in the Node
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
Labels: consensus, staging

#777 Make block production race-free w.r.t. the Mempool state
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: bug, consensus, staging

#790 More changes needed to support cardano-node#63
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
Labels: consensus, staging

#783 Chain DB: ignore invalid blocks
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Mock.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/test/Test/AnchoredFragment.hs
Labels: consensus, staging

#793 Cache the GenTxId in GenTx so that querying it is cheap
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Byron/Elaborate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus, staging

#812 Make simHasFS operations thread-safe
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/STM.hs
Labels: bug, consensus

#810 Chain DB: fix iterator bug and add tests
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-util/Test/Util/Tracer.hs
Labels: consensus

#797 Chain DB: catch and rewrap iterator exceptions
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/VolDB.hs
Labels: bug, consensus

#831 Fix broken master
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
Labels: consensus

#742 [#692] Fix Mempool TicketNo counter implementation
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxSeq.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#833 Rename IntersectImproved to IntersectFound
  doc/network.tex
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncServer.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Direct.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Examples.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Type.hs
  ouroboros-network/test/messages.cddl
  ouroboros-network/wireshark-plugin/ouroboros_network.lua
Labels: consensus, documentation, networking

#840 Update the LocalTxSubmission server to match the new Mempool API
  ouroboros-consensus/src/Ouroboros/Consensus/TxSubmission.hs
Labels: consensus

#808 Use aggregate jobs in required-targets
  nix/.stack.nix/cardano-crypto-test.nix
  nix/.stack.nix/cardano-crypto-wrapper.nix
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-ledger.nix
  nix/iohk-nix-src.json
  release.nix
Labels: nix

#850 Fix space leak in the LedgerDB and the Byron LedgerState
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Storage/LedgerDB/InMemory.hs
Labels: consensus, staging

#830 Misc documentation updates
  .gitignore
  doc/Makefile
  doc/README.md
  doc/default.nix
  doc/network.tex
  doc/revisioncount
Labels: documentation, networking
