Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-08, with the labels that each got.

#863 Assign correct FsErrorTypes
  ouroboros-consensus/src/Ouroboros/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/MockFS.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
Labels: consensus

#866 Remove obsolete readIncrementalOffsetsEBB and cborEpochFileParser
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
Labels: consensus, maintenance

#875 [#595] Implement and utilize byronBlockOrEBBMatchesHeader
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
Labels: consensus

#880 Use record type for output of protocol tests
  ouroboros-consensus/test-consensus/Test/Dynamic/BFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/General.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/LeaderSchedule.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/PBFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Praos.hs
Labels: consensus

#885 Disable failing cross-compiled test-storage CI job
  release.nix
Labels: nix

#879 ChainSyncClient: throw an exception when the header doesn't fit
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
Labels: consensus

#887 Widen network magics from Word16 to Word32
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: documentation, networking

#891 ChainDB: fix more ImmutableDB iterator leaks
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Iterator.hs
Labels: bug, consensus

#892 ChainDB: fix discrepancy between model and real chain selection
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Model.hs
Labels: consensus, testing

#897 ChainSyncServer: close the ChainDB.Reader when done
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncServer.hs
Labels: bug, consensus

#855 Run consensus tests with real Byron blocks
  nix/.stack.nix/ouroboros-consensus.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/RealPBFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/TxGen.hs
Labels: consensus, testing

#906 Define constrName(s) once
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
Labels: consensus, maintenance, testing

#912 Added cancelWith to the MonadAsync type class
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
  io-sim/src/Control/Monad/IOSim.hs
Labels: networking

#918 Eq and Ord instances for Async m a
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
  io-sim/src/Control/Monad/IOSim.hs
Labels: networking

#920 Make the StartTime part of RunNode
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Mock.hs
Labels: byron-proxy, cardano-node, consensus

#930 update ouroboros-network/README.md for test-crypto relocation
  README.md
Labels: consensus

#899 Check for file handle leaks in the consensus tests
  ouroboros-consensus/test-consensus/Test/Dynamic/General.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/RealPBFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Util.hs
Labels: consensus, testing

#919 export default PBFT signature threshold
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
Labels: consensus

#935 Correctly derive the epoch size instead of hardcoding it to 21600
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Mock.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/ImmDB.hs
Labels: consensus

#947 release.nix: fix 'x86_65' typo in #885
  release.nix
Labels: nix

#948 Subscription fix
  ouroboros-network/src/Ouroboros/Network/Subscription/Worker.hs
Labels: networking

#955 ChainSyncServer: read updated tip after blocking
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncServer.hs
Labels: consensus

#951 Have rewindChainState @WithEBBs skip EBBs that precede only genesis
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/WithEBBs.hs
  ouroboros-consensus/tools/db-convert/Main.hs
Labels: consensus

#964 ChainDB: add getTipBlockNo
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Mock.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: consensus

#970 Make Registry state strict
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
Labels: consensus

#971 Update encoder/decode for state state with EBBs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/tools/db-convert/Main.hs
Labels: consensus

#972 Move PBftChainState to its own module
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT/ChainState.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT/Crypto.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Protocol/PBFT.hs
Labels: consensus
