Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-10, with the labels that each got.

#1091 Test the MUX with the ReqResponse protocol and a sequence of requests and responses
  network-mux/test/Test/Mux.hs
Labels: networking, testing

#1104 ChainSyncClient: fix pipelining by using the right clientTipBlockNo
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
Labels: consensus

#1108 Draft test-consensus/README.md
  ouroboros-consensus/test-consensus/README.md
Labels: consensus

#1117 Store snapshots of the PBftLedgerView instead of the whole ledger
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
Labels: consensus

#1121 Make NetworkMagic configurable
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: cardano-node, consensus, networking

#1135 prevent stale TracingConstraints
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
Labels: consensus, testing

#1134 link type-protocols talk in README.md
  README.md
Labels: documentation

#1152 Remove unused checktvarinvariant flag
  nix/.stack.nix/ouroboros-consensus.nix
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: consensus, maintenance

#1129 Add Byron serialisation roundtrip property tests
  cabal.project
  nix/.stack.nix/cardano-crypto-test.nix
  nix/.stack.nix/cardano-crypto-wrapper.nix
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-ledger.nix
  nix/.stack.nix/cs-blockchain.nix
  nix/.stack.nix/cs-ledger.nix
  nix/.stack.nix/default.nix
  nix/.stack.nix/goblins.nix
  nix/.stack.nix/ouroboros-consensus.nix
  nix/.stack.nix/small-steps.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/WithEBBs.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Ledger/Byron.hs
  stack.yaml
Labels: consensus, testing

#1163 Replace OuroborosTag.protocolnetworkMagic with RunNode.nodeNetworkMagic
  ouroboros-consensus/src/Ouroboros/Consensus/Demo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ExtNodeConfig.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/WithEBBs.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ChainSyncClient.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/PBFT.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus

#1173 Move `NodeConfig` out of the `OuroborosTag` class
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ExtNodeConfig.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/WithEBBs.hs
Labels: consensus
