Repository IntersectMBO/ouroboros-network, pull requests merged in 2019-05, with the labels that each got.

#401 Header/body split + storage layer integration
  io-sim/io-sim.cabal
  nix/.stack.nix/io-sim.nix
  nix/.stack.nix/ouroboros-consensus.nix
  ouroboros-consensus/demo-playground/Logging.hs
  ouroboros-consensus/demo-playground/Mock/TxSubmission.hs
  ouroboros-consensus/demo-playground/NamedPipe.hs
  ouroboros-consensus/demo-playground/README.md
  ouroboros-consensus/demo-playground/Run.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/BlockFetchClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockFetchServer.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncServer.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Chain.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Orphans.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/STM.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/BFT.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/General.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/LeaderSchedule.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/TestBlock.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/State.hs
  ouroboros-network/src/Ouroboros/Network/ChainFragment.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Type.hs
Labels: WIP, consensus, networking

#473 Remove obsolete turbohack that cleans up the demo's named pipes
  demo-playground/cleanup-demo.sh
  demo-playground/start-node.sh
Labels: consensus

#478 Chain Sync Client: property test
  nix/.stack.nix/ouroboros-consensus.nix
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ChainSyncClient.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus, testing

#484 Let Sim.Error simulate partial reads for hGetSome
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
Labels: consensus, testing

#489 Fix bug in cborEpochFileParser
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
Labels: consensus

#490 Demo improvements: tracing and --pbft
  ouroboros-consensus/demo-playground/CLI.hs
  ouroboros-consensus/demo-playground/Logging.hs
  ouroboros-consensus/demo-playground/Mock/TxSubmission.hs
  ouroboros-consensus/demo-playground/Run.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/BlockFetchClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Demo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus

#421 Updates in the documentation:
  doc/network.tex
  doc/references.bib
Labels: documentation

#492 Cleanup parser errors
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus

#496 VolatileDB: add getPredecessor and make getSuccessors live in STM
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#506 ImmutableDB: add iteratorPeek
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
Labels: consensus

#425 Version negotiation protocol
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network/src/Ouroboros/Network/Server/Version/Protocol.hs
  ouroboros-network/test/Main.hs
Labels: networking

#491 Turn the CDDL test into a cabal test-suite and run test in the CI
  doc/network.tex
  nix/.stack.nix/ouroboros-network.nix
  nix/pkgs.nix
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/CDDL.hs
  ouroboros-network/test/messages.cddl
  stack.yaml
Labels: documentation, networking, nix, testing

#522 Updated README.md file
  README.md
Labels: documentation

#534 First version of a mempool
  ouroboros-consensus/demo-playground/Mock/Mempool.hs
  ouroboros-consensus/demo-playground/Mock/TxSubmission.hs
  ouroboros-consensus/demo-playground/Run.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Demo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/test-consensus/Test/Dynamic/Network.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
Labels: consensus

#554 Add iteratorHasNext to the ImmutableDB
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
Labels: consensus

#551 Handle partial io
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API/Example.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/MockFS.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/Pure.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/STM.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/src/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus

#552 support O_EXCL flag
  ouroboros-consensus/src-unix/Ouroboros/Storage/IO.hs
  ouroboros-consensus/src-win32/Ouroboros/Storage/IO.hs
  ouroboros-consensus/src-win32/Ouroboros/Storage/Seek.hsc
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Condense.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API/Example.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/FsTree.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/MockFS.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus

#574 Fix ipv6 testcase
  ouroboros-network/test/Test/Socket.hs
Labels: networking

#572 Let the DBs return lazy ByteStrings + fix readAll
  byron-proxy/src/exec/IPC.hs
  byron-proxy/src/exec/Main.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/ChainSync/Server.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/DB.hs
  byron-proxy/src/lib/Ouroboros/Byron/Proxy/Main.hs
  ouroboros-consensus/src-unix/Ouroboros/Storage/IO.hs
  ouroboros-consensus/src-win32/Ouroboros/Storage/IO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Storage/FS/Sim/MockFS.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Index.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Util.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/Sim/Error.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus

#544 Add network.tex to the CI
  default.nix
  doc/default.nix
  doc/network.tex
  doc/shell.nix
  release.nix
Labels: documentation, networking, nix, testing

#557 fs-errors
  nix/.stack.nix/default.nix
  ouroboros-consensus/src-unix/Ouroboros/Storage/IO.hs
  ouroboros-consensus/src-win32/Ouroboros/Storage/IO.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  stack.yaml
Labels: consensus

#586 doc: Make network.pdf a Hydra build product
  doc/default.nix
Labels: documentation, nix

#600 Fix doc/default.nix
  doc/default.nix
Labels: documentation, networking, nix

#583 Added useful information to the home page
  README.md
Labels: documentation
