Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-05, with the labels that each got.

#2043 Added MonadEvaluate
  io-sim-classes/src/Control/Monad/Class/MonadThrow.hs
  io-sim/src/Control/Monad/IOSim.hs
Labels: io-sim, networking

#2044 Split Handshake into submodules
  network-mux/src/Network/Mux/Types.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/test/Test/Socket.hs
Labels: handshake, networking, technical debt

#2046 Construct the initial stake snapshot only using addresses that can have stake
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#2052 runHandshakeClient should use ModeInitiator
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
Labels: bug, handshake, networking

#2040 Add PParams field to ShelleyGenesis data structure
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/RealTPraos.hs
Labels: consensus

#2061 Remove unnecessary runSimFS calls
  ouroboros-consensus/test-consensus/Test/Consensus/Node.hs
Labels: consensus

#2057 RunNode improvements
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Init.hs
Labels: consensus

#2059 Generalize `AnnTip`
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/HeaderValidation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/test/Test/Consensus/Byron/Ledger/Golden.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#2054 Removed Enum and Bounded constraints from version numbers
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
Labels: networking, technical debt

#2051 asyncWithUnmask included in MonadAsync
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
  io-sim/src/Control/Monad/IOSim.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
Labels: io-sim, networking

#2064 Refactor the ValidateEnvelope class
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/HeaderValidation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#2065 Move txSize from ApplyTx to RunNode and Mempool
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#2094 Fix logic error in Shelley checkIsLeader.hasValidOCert
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
Labels: consensus

#2101 Update ledger-specs and Shelley refactorings
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Genesis.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/State.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Util.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  stack.yaml
Labels: consensus

#2111 test-infra: more Haddock on rekeying bits
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
Labels: protocol testing

#2112 Bump dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Util.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  stack.yaml
Labels: consensus

#2114 Shelley: use annotation to compute transaction size
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#2115 Rename nodeTxSize to nodeTxInBlockSize and document its meaning
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
Labels: consensus

#2116 Add nodeMaxTxSize
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
Labels: consensus

#2109 Add cardano-client package
  cabal.project
  cardano-client/LICENSE
  cardano-client/NOTICE
  cardano-client/cardano-client.cabal
  cardano-client/src/Cardano/Client/Subscription.hs
Labels: api, networking

#2090 MsgKTnxBye in TxSubmission protocol
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Examples.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/messages.cddl
Labels: networking, node-to-node, tx-submission

#2124 Use Mainnet for networkMagicId in Crypto instance of TPraosStandardCrypto
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
Labels: consensus

#2018 Rearange PeerSelection
  network-mux/network-mux.cabal
  network-mux/src/Control/Concurrent/JobPool.hs
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/JobPool.hs
  nix/haskell.nix
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/KnownPeers.hs
Labels: networking, peer2peer

#2063 Add basic ThreadNet tests for CardanoBlock
  cabal.project
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/test/Main.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/LogicalClock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Time.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Summary.hs
Labels: consensus

#2146 Byron: move tests to a separate lib
  cabal.project
  nix/haskell.nix
  ouroboros-consensus-byron-test/LICENSE
  ouroboros-consensus-byron-test/NOTICE
  ouroboros-consensus-byron-test/README.md
  ouroboros-consensus-byron-test/Setup.hs
  ouroboros-consensus-byron-test/ouroboros-consensus-byron-test.cabal
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Ledger.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Examples.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron-test/test/Main.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Golden.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT/ProtocolInfo.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT/TrackUpdates.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/TxGen/Byron.hs
  ouroboros-consensus-byron/README.md
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/test/Test/Consensus/Byron/Ledger.hs
  shell.nix
Labels: consensus

#2151 Pass only BlockConfig to nodeStartTime/NetworkMagic/ProtocolMagicId
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
Labels: consensus

#2152 Refactor BlockHasCodecConfig into ConfigSupportsNode
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Config.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Forge.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/HeaderValidation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/PBFT.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Genesis.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/SupportsProtocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Config.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Config/SupportsNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#2121 Refactoring of OuroborosApplication
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionId.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Test/Mux.hs
  ouroboros-network/test/Test/Pipe.hs
  ouroboros-network/test/Test/Socket.hs
Labels: api, networking, technical debt

#2135 threadDelay & registerDelay - unbounded delays
  io-sim-classes/src/Control/Monad/Class/MonadTimer.hs
Labels: io-sim, networking

#2155 coot/cardano client
  cardano-client/src/Cardano/Client/Subscription.hs
  nix/haskell.nix
  release.nix
Labels: networking, node-to-client

#2153 Mempool refactorings
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Forge.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/TxGen.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsMempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/TypeFamilyWrappers.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#2137 Export of SubmitSucess and SubmitFailure
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxSubmission/Client.hs
Labels: api, networking, node-to-client, priority medium

#2158 Move nodeBlockMatchesHeader and nodeHeaderIsEBB to GetHeader
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Integrity.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Parser.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model/Test.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#2163 Preparation for the Byron-to-Shelley hard-fork
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/Consensus/Ledger/Mock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Init.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#2161 Add more stake-related ledger queries
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
Labels: consensus

#2053 ThreadNet.General: document primary assumptions
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
Labels: protocol testing, testing

#2170 Include more info in the trace message after adopting a block
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus
