Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-03, with the labels that each got.

#1506 Fix cloneBlockchainTime
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/Ref/RealPBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Ref/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/InvertedMap.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeId.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
Labels: consensus

#1734 Give the ThreadNet tests their own EpochInfo
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Conversions.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
Labels: consensus

#1738 ErrorPolicy: include block-specific exceptions
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Recovery.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
Labels: consensus

#1502 Add ShowBlockHeaderSize and ShowBlockTxsSize analyses to db-analyse
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
Labels: consensus

#1742 test-infra: remove ebbSlotBefore in favor of the new epochSize
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
Labels: consensus, protocol testing, testing

#1739 Update q-s-m to allow bracketing
  cabal.project
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Classify.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ResourceRegistry.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  stack.yaml
Labels: consensus

#1744 Introduce Ouroboros.Consensus.MiniProtocol.*.{Server,Client}
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
Labels: consensus

#1748 Introduce HasTxs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
Labels: consensus

#1726 Fixed #1723 - use LocalAddress in Diffusion module
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Labels: networking

#1749 More intelligent transaction requests
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Examples.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Server.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Mempool/Reader.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
Labels: byron, consensus, networking

#1750 Make imm DB epoch independent version 3.0
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-byron/tools/db-converter/Main.hs
  ouroboros-consensus/ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/ChunkInfo.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reopen.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/EpochInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/EpochInfo/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/EpochInfo/CumulEpochSizes.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/EpochInfo/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Chunks.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Chunks/Internal.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Chunks/Layout.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Cache.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Primary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Secondary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Validation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Layout.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Parser.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CallStack.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/CumulEpochSizes.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Primary.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#1758 Remove constantSubscriptionTarget
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Subscriber.hs
Labels: bug, networking

#1760 Bump dependency on quickcheck-state-machine
  cabal.project
  stack.yaml
Labels: consensus

#1722 Avoid underscores in field names
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Error.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/QuickCheck.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reopen.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-network/test/Test/Socket.hs
Labels: consensus

#1747 check that Byron can increment its adopted protocol version
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT/ProtocolInfo.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT/ProtocolVersionUpdate.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
Labels: consensus

#1762 codecs - more verbose failures
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
Labels: networking

#1777 Fix thunks in ChunkSize
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Chunks/Internal.hs
Labels: consensus

#1778 cleanup ntp-client
  ntp-client/demo/Main.hs
  ntp-client/ntp-client.cabal
  ntp-client/src/Network/NTP/Client.hs
  ntp-client/src/Network/NTP/Client/Packet.hs
  ntp-client/src/Network/NTP/Client/Query.hs
  ntp-client/src/Network/NTP/Client/Trace.hs
  ntp-client/test/Test.hs
Labels: networking, ntp-client, priority high

#1780 Use MD5 instead of ShortHash in Mempool tests
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/UTxO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus, testing

#1775 Implement lemmas 1 & 2 from #1765
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsProtocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Assert.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1774 Drop openssl dep
  cabal.project
  ouroboros-consensus/src-win32/Ouroboros/Consensus/Storage/IO.hs
Labels: Windows, consensus

#1792 ImmutableDB: don't accidentally kill the cache expiration thread
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
Labels: consensus

#1793 Fix more thunks
  cabal.project
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/test/golden/cbor/byron/LedgerState
  ouroboros-consensus-byron/test/golden/cbor/byron/UPIState
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Cache.hs
  stack.yaml
Labels: consensus

#1787 ImmutableDB: use TempResourceRegistry in modifyOpenState
  io-sim-classes/src/Control/Monad/Class/MonadThrow.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Error.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/MockFS.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Pure.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/STM.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/DbMarker.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/Handle.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Validation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
Labels: consensus

#1740 Mini Protocol Mux Limts
  .gitignore
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/ExamplesPipelined.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/PipelineDecision.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
Labels: networking

#1800 Make LocalAddresss a newtype
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Client.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
Labels: Windows, networking, priority high

#1698 Hard fork history
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Conversions.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/QuickCheck.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/LedgerDerivedInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Counting.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1810 ImmutableDB: optimise dbFilesOnDisk
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Util.hs
Labels: consensus

#1811 toCBORABlockOrBoundaryHdr
  cabal.project
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Serialisation.hs
  stack.yaml
Labels: consensus

#1564 Add optional expiry slot to Mock transactions
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/State.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/UTxO.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/Consensus/Ledger/Mock.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/TxGen/Mock.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Util/SimpleBlock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Orphans.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus, mempool, testing

#1824 Preparation for Shelley
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/DelegationHistory.hs
  ouroboros-consensus-byron/test/Test/Consensus/Byron/Ledger.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/TxGen/Byron.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/TxGen/Mock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/TxGen.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Corruption.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/SlotLengths.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
Labels: consensus

#1803 Volatile DB: use modifyWithTempRegistry
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl/FileInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl/Index.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#1695 Shelley Integration: Rebased
  README.md
  cabal.project
  nix/haskell.nix
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-shelley/LICENSE
  ouroboros-consensus-shelley/NOTICE
  ouroboros-consensus-shelley/README.md
  ouroboros-consensus-shelley/Setup.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/History.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/State.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Util.hs
  ouroboros-consensus-shelley/test/Main.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley/test/golden/cbor/shelley/ApplyTxErr
  ouroboros-consensus-shelley/test/golden/cbor/shelley/Block
  ouroboros-consensus-shelley/test/golden/cbor/shelley/ConsensusState
  ouroboros-consensus-shelley/test/golden/cbor/shelley/GenTx
  ouroboros-consensus-shelley/test/golden/cbor/shelley/GenTxId
  ouroboros-consensus-shelley/test/golden/cbor/shelley/Header
  ouroboros-consensus-shelley/test/golden/cbor/shelley/HeaderHash
  ouroboros-consensus-shelley/test/golden/cbor/shelley/LedgerState
  ouroboros-consensus/README.md
  shell.nix
  stack.yaml
Labels: consensus

#1627 CancelIoEx and overal review of Win32-network
  Win32-network/NOTICE
  Win32-network/README.md
  Win32-network/Win32-network.cabal
  Win32-network/cbits/Win32Async.c
  Win32-network/cbits/Win32Socket.c
  Win32-network/include/Win32-network.h
  Win32-network/src/System/Win32/Async/ErrCode.hsc
  Win32-network/src/System/Win32/Async/File.hs
  Win32-network/src/System/Win32/Async/IOData.hsc
  Win32-network/src/System/Win32/Async/IOManager.hs
  Win32-network/src/System/Win32/Async/IOManager.hsc
  Win32-network/src/System/Win32/Async/Internal.hs
  Win32-network/src/System/Win32/Async/Overlapped.hsc
  Win32-network/src/System/Win32/Async/Socket.hs
  Win32-network/src/System/Win32/Async/Socket/ByteString/Lazy.hs
  Win32-network/src/System/Win32/Async/Socket/Syscalls.hs
  Win32-network/src/System/Win32/Types/Overlapped.hs
  Win32-network/test/Test/Async/Handle.hs
  Win32-network/test/Test/Async/Socket.hs
  ouroboros-network/ouroboros-network.cabal
  scripts/test.sh
Labels: Windows, byron, networking, priority high

#1840 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/golden/cbor/shelley/Block
  ouroboros-consensus-shelley/test/golden/cbor/shelley/GenTx
  ouroboros-consensus-shelley/test/golden/cbor/shelley/GenTxId
  ouroboros-consensus-shelley/test/golden/cbor/shelley/Header
  ouroboros-consensus-shelley/test/golden/cbor/shelley/HeaderHash
  ouroboros-consensus-shelley/test/golden/cbor/shelley/LedgerState
  stack.yaml
Labels: consensus

#1808 Windows CI using github-actions
  .github/workflows/windows.yml
  cabal.project.local.ci.windows
  network-mux/demo/mux-demo.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network/test/Test/Pipe.hs
Labels: Windows, byron, priority high

#1848 Shelley: update query type of LocalStateQuery protocol
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
Labels: consensus

#1850 BlockFetch: wait until the block has been written to disk
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
Labels: consensus

#1855 Hard-code expected results as CBOR for golden files instead of using files
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/test/Test/Consensus/Byron/Ledger.hs
  ouroboros-consensus-byron/test/Test/Consensus/Byron/Ledger/Golden.hs
  ouroboros-consensus-byron/test/golden/cbor/byron/ConsensusState0
  ouroboros-consensus-byron/test/golden/cbor/byron/GenTxId
  ouroboros-consensus-byron/test/golden/cbor/byron/LedgerState
  ouroboros-consensus-byron/test/golden/cbor/byron/UPIState
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  ouroboros-consensus-shelley/test/golden/cbor/shelley/ApplyTxErr
  ouroboros-consensus-shelley/test/golden/cbor/shelley/Block
  ouroboros-consensus-shelley/test/golden/cbor/shelley/ConsensusState
  ouroboros-consensus-shelley/test/golden/cbor/shelley/GenTx
  ouroboros-consensus-shelley/test/golden/cbor/shelley/GenTxId
  ouroboros-consensus-shelley/test/golden/cbor/shelley/Header
  ouroboros-consensus-shelley/test/golden/cbor/shelley/HeaderHash
  ouroboros-consensus-shelley/test/golden/cbor/shelley/LedgerState
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Golden.hs
Labels: consensus

#1862 Added sendTo and recvFrom to Win32-network
  Win32-network/src/System/Win32/Async/IOManager.hsc
  Win32-network/src/System/Win32/Async/Socket.hs
  Win32-network/src/System/Win32/Async/Socket/ByteString.hs
  Win32-network/src/System/Win32/Async/Socket/Syscalls.hs
  Win32-network/test/Test/Async/Socket.hs
Labels: networking

#1864 Bump dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  stack.yaml
Labels: consensus

#1883 Cancel timeout thread
  io-sim/src/Control/Monad/IOSim.hs
Labels: io-sim, networking

#1878 Add timeout around dns lookups
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Dns.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Worker.hs
Labels: Windows, networking

#1881 connect for named pipes
  Win32-network/src/System/Win32/NamedPipes.hsc
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/test/Test/Pipe.hs
Labels: Windows, networking
