Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-01, with the labels that each got.

#1388 ChainDB: take a ledger DB snapshot when shutting down
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Reopen.hs
Labels: chain db, consensus, ledger db

#1422 Add missing path < 0.7 constraint
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: consensus

#1433 Implement snapshotMempoolSize
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
Labels: consensus, mempool

#1432 [CAD-402] Adding changes to the trace events we need and removing time from them
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#1445 Split block production tx into several smaller txs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
Labels: consensus

#1450 Always produce a genesis EBB for Byron
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/RealPBFT.hs
Labels: consensus

#1449 Milder exception handlers in ImmDB and VolDB
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Storage/VolatileDB/Impl.hs
Labels: consensus

#1468 Calculate default mempool capacity as 2x the ledger max block size
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/Network.hs
Labels: consensus, mempool

#1496 Address review feedback on #1425.
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec/Genesis.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Ledger/Byron.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/DualPBFT.hs
Labels: consensus

#1497 Turn nodeInitChainDB into a field of NodeArgs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/Network.hs
Labels: consensus

#1518 Better ledger DB policy
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Reopen.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Storage/LedgerDB/DiskPolicy.hs
  ouroboros-consensus/src/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Labels: consensus

#1523 Don't hardcode the transaction size for mock blocks
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
Labels: consensus, technical debt

#1537 ChainDB.StateMachine: strengthen the precondition on Close
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: consensus

#1398 ChainDB: pass new block to ledger validation
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/BlockCache.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/test-consensus/Test/Consensus/LocalStateQueryServer.hs
Labels: chain db, consensus, optimisation

#1540 Exclude Byron GenTx byte overhead from txSize calculation
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Mempool.hs
Labels: consensus, mempool

#1541 Return a numeric error code for the exceptions that will be thrown
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ExitFailure.hs
Labels: consensus
