Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-07, with the labels that each got.

#2349 Introduce queries about an era that can be answered in any era
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/SingleEraBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State/Infra.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/SOP.hs
Labels: consensus

#2348 Shelley: prefer self-produced blocks during chain selection
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
Labels: consensus

#2274 Generalise db analyser
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
Labels: consensus

#2358 Refactor network/consensus versioning
  cardano-client/cardano-client.cabal
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Util/NodeToNodeVersion.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/NetworkProtocolVersion.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
Labels: consensus

#2360 Decoder failure's context
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Util/ShowProxy.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Driver.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Orphans.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxMonitor/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
Labels: block-fetch, chain-sync, networking, tx-submission

#2366 ChainDB.StateMachine: relax precondition on closing
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: consensus

#2370 Introduce QueryHardFork
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Result_AnytimeByron
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Result_HardFork
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Result_AnytimeByron
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Result_HardFork
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Util/InPairs.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/EraParams.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Qry.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Summary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Counting.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/SOP.hs
Labels: consensus

#2385 Test & fix backwards compatibility between Byron and Cardano
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/test/Main.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Query_AnytimeByron
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Query_AnytimeShelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Query_Byron
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Query_HardFork
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/Consensus/Ledger/Mock/Generators.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Serialisation/Roundtrip.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsMempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#2387 cleaned cabal files
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network/ouroboros-network.cabal
Labels: networking

#2390 Avoid recomputing the ShelleyLedgerConfig
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/EpochInfo.hs
Labels: consensus

#2395 Fix stack build
  stack.yaml
Labels: consensus

#2405 Export HardForkLedgerWarning
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
Labels: consensus

#2402 ChainDB: add getIsValid
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Classify.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#2414 Wrap Byron and Shelley in the HFC
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ByronHFC.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyHFC.hs
  ouroboros-consensus-cardano/test/golden/disk/AnnTip_Shelley
  ouroboros-consensus-shelley-test/test/golden/disk/AnnTip
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
Labels: consensus

#2423 Validate the Shelley genesis config
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#2266 Use ShortByteString for OneEraHash and ConvertRawHash
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/Consensus/Ledger/Mock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Serialisation/Roundtrip.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
Labels: consensus

#2419 ShowProxy instances
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/State.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Serialisation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Util/ShowProxy.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxMonitor/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalTxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/Testing/ConcreteBlock.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/Ouroboros/Network/MockNode.hs
  ouroboros-network/test/Test/Mux.hs
  ouroboros-network/test/Test/Pipe.hs
  ouroboros-network/test/Test/Socket.hs
Labels: consensus, networking

#2439 Added getTipSlotNo
  ouroboros-network/src/Ouroboros/Network/Block.hs
Labels: consensus, networking

#2340 TipSample mini-protocol
  ouroboros-network-framework/src/Ouroboros/Network/Util/ShowProxy.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Examples.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Type.hs
  ouroboros-network/test/Main.hs
  typed-protocols/src/Network/TypedProtocol/Pipelined.hs
Labels: networking, node-to-node, ouroboros-network-protocols, peer2peer

#2454 Tune defaultDiskPolicy
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/DiskPolicy.hs
Labels: consensus

#2458 Mention cause and point when revalidating a header fails
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
Labels: consensus

#2442 Choose the correct initial nonces when hard forking to Shelley
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
Labels: consensus

#2427 Remove mock protocols from ProtocolInfo
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
Labels: consensus

#2453 SubscriberErrorType - fix typos
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Worker.hs
Labels: networking

#2422 Remove the duplication between ProtocolMagicId and NetworkMagic
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Orphans.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-converter/Main.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/tools/db-validator/Main.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Abstract.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Config/SupportsNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/DbMarker.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Condense.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Node.hs
Labels: consensus

#2379 Update the d protocol parameter during RealTPraos ThreadNet tests
  .buildkite/slow-ThreadNet-tests.sh
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
Labels: consensus

#2464 Optimise translating the Byron UTxO to the Shelley UTxO
  cabal.project
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/test/Main.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Translation.hs
  stack.yaml
Labels: consensus

#2466 Shelley: account for encoding overhead of transactions
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
Labels: consensus

#2469 Shelley: reduce per transaction overhead and add fixed overhead
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
Labels: consensus

#2481 Improve nodeBlockFetchSize estimates and test them
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/Header_Byron_EBB
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/Header_Byron_regular
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Forge.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/Consensus/Ledger/Mock/Generators.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Serialisation/Roundtrip.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
Labels: consensus

#2484 Upper bound for CBOR-in-CBOR tag is 7 instead of 5 bytes
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/Header_Byron_EBB
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/Header_Byron_regular
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
Labels: consensus
