Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-10, with the labels that each got.

#2318 Fix forecasting abstraction, and add forecasting tests.
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/QuickCheck.hs
  ouroboros-consensus-test/test-consensus/Main.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Forecast.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Infra.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Summary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State/Instances.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Translation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Caching.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Summary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ticked.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Counting.hs
Labels: consensus

#2649 Extended MonadAsync
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
Labels: io-sim-classes, networking

#2661 Correct forecast range for Byron to Shelley translation
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
Labels: consensus

#2468 ErrorPolicy: ProtocolLimitFailure
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: networking, node-to-node

#2658 Network version: NodeToNodeV_4
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Ouroboros/Network/NodeToClient/Version/Test.hs
  ouroboros-network/test/Ouroboros/Network/NodeToNode/Version/Test.hs
  ouroboros-network/test/Test/Socket.hs
Labels: handshake, networking, node-to-node

#2667 db-analyser: clean up
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Byron.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-cardano/tools/db-analyser/HasAnalysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
Labels: consensus

#2666 Add the Allegra and Mary eras to Cardano
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/Genesis.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/ProtocolInfo.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Golden.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Serialisation.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyHFC.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Byron.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-mock-test/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/HotKey.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Util.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Ref/PBFT.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Forecast.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Forecast.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
Labels: consensus

#2636 Fix deltaq's g calculation
  ouroboros-network/src/Ouroboros/Network/DeltaQ.hs
  ouroboros-network/src/Ouroboros/Network/KeepAlive.hs
  ouroboros-network/test/Test/Ouroboros/Network/KeepAlive.hs
Labels: delta-q, networking

#2678 Fix local address
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Labels: networking

#2681 Temporarily disable Shelley's transaction generator
  .buildkite/slow-ThreadNet-tests.sh
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
Labels: consensus

#2631 IOSim: support registerDelay, return labeled threads
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
Labels: io-sim, networking

#2687 Empty RunNode
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Config.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node/Serialisation.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/BFT.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PBFT.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PraosRule.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Roundtrip.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/SupportsProtocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Config.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/SingleEraBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node/InitStorage.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseNodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/InitStorage.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Init.hs
Labels: consensus

#1741 Attempt to document the hard fork transition
  ouroboros-consensus/docs/HardFork.md
Labels: consensus

#2702 Update dependencies
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/MockCrypto.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Condense.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyHFC.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Byron.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-cardano/tools/db-analyser/HasAnalysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/Shelley.hs
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Inspect.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/HotKey.hs
Labels: consensus

#2704 Shelley: only keep a compact genesis config in memory
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
Labels: consensus

#2706 Cardano: add pattern synonyms for the ChainDepState
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
Labels: consensus

#2705 json imp. and count argument
  network-mux/demo/cardano-ping.hs
Labels: networking

#2709 Cardano: write some generators generically
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/Orphans/Arbitrary.hs
Labels: consensus

#2708 Handshake refactoring
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test/Ouroboros/Network/NodeToClient/Version/Test.hs
  ouroboros-network/test/Test/Socket.hs
Labels: handshake, networking, node-to-client, node-to-node

#2710 fixing github actions
  .github/workflows/github-page.yml
  .github/workflows/windows.yml
  cabal.project.local.ci.windows
Labels: documentation, testing

#2712 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Inspect.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
Labels: consensus
