Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-11, with the labels that each got.

#2728 Nicer displayException for io-sim's Failure
  io-sim/src/Control/Monad/IOSim.hs
Labels: io-sim, networking

#2731 Update dependency on cardano-base
  cabal.project
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT/Crypto.hs
Labels: consensus

#2732 Clarify chain selection
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/MockChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
Labels: consensus

#2735 Update precondition on compareAnchoredFragments and check it
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
Labels: consensus

#2726 network: refactor with Map.intersectionWith in Handshake server
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
Labels: networking

#2679 Use the real Allegra and Mary era tags
  cabal.project
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Golden.hs
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test/Ouroboros/Network/NodeToNode/Version/Test.hs
Labels: consensus

#2736 Remove the SafeBeforeEpoch parameter #2646
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
Labels: consensus

#2738 Cardano: generalise golden example injection using Nary
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/test/golden/disk/ChainDepState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-test/src/Test/Util/Serialisation/Golden.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Nary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/SOP.hs
Labels: consensus

#2743 Adapt code to report
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/PBFT.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/Model/Test.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/PartialConfig.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/MockChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Paths.hs
  ouroboros-consensus/src/Ouroboros/Consensus/TypeFamilyWrappers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
Labels: consensus

#2747 Throw 'ErrorCall's and 'FatalError's.
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
Labels: networking, node-to-client

#2755 Update comments: s/UnsafeUnbounded/UnsafeIndefiniteSafeZone/g
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Infra.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Summary.hs
Labels: consensus

#2641 ThreadNet: add ShelleyAllegra tests
  .buildkite/slow-ThreadNet-tests.sh
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/TwoEras.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Allegra.hs
  ouroboros-consensus-cardano-test/test/Main.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/ShelleyAllegra.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-test/src/Test/ThreadNet/TxGen.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Binary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Nary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Unary.hs
Labels: consensus, protocol testing, testing

#2754 Add a pure Mary mode
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#2775 MonadTimer: export DiffTime
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
  io-sim-classes/src/Control/Monad/Class/MonadTimer.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/test/Test/IOSim.hs
  network-mux/src/Network/Mux/Channel.hs
  ouroboros-network-framework/src/Ouroboros/Network/Channel.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/DeltaQ.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Ouroboros/Network/MockNode.hs
  ouroboros-network/test/Test/PeerState.hs
  ouroboros-network/test/Test/Socket.hs
  typed-protocols-examples/src/Network/TypedProtocol/Channel.hs
Labels: networking, technical debt

#2772 snocket: introduce LocalSocket and FileDescriptor newtypes
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Client.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
Labels: Snocket, Windows, networking, technical debt

#2777 socketFileDescriptor: use unsafeFdSocket
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
Labels: Snocket, networking

#2779 db-converter: drop path and path-io dependencies
  nix/sources.json
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/tools/db-converter/Main.hs
Labels: consensus
