Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-08, with the labels that each got.

#2503 Update dependency on cardano-ledger-specs and rewrite examples
  cabal.project
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion1/Block_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/ApplyTxErr_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Block_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/GenTx_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Query_Shelley_GetNonMyopicMemberRewards
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Result_Shelley_LedgerTip
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Result_Shelley_NonMyopicMemberRewards
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Result_Shelley_ProposedPParamsUpdatse
  ouroboros-consensus-cardano/test/golden/CardanoNodeToClientVersion2/Result_Shelley_StakeDistribution
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion1/Block_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/Block_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/GenTxId_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/GenTx_Shelley
  ouroboros-consensus-cardano/test/golden/CardanoNodeToNodeVersion2/Header_Shelley
  ouroboros-consensus-cardano/test/golden/disk/AnnTip_Shelley
  ouroboros-consensus-cardano/test/golden/disk/Block_Shelley
  ouroboros-consensus-cardano/test/golden/disk/ChainDepState_Shelley
  ouroboros-consensus-cardano/test/golden/disk/ChainDepState_WithSnapshot
  ouroboros-consensus-cardano/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano/test/golden/disk/HeaderHash_Shelley
  ouroboros-consensus-cardano/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano/test/golden/disk/LedgerState_WithSnapshot
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/ApplyTxErr
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/Block
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/GenTx
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/Query_GetNonMyopicMemberRewards
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/Result_LedgerTip
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/Result_NonMyopicMemberRewards
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/Result_ProposedPParamsUpdatse
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToClientVersion1/Result_StakeDistribution
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToNodeVersion1/Block
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToNodeVersion1/GenTx
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToNodeVersion1/GenTxId
  ouroboros-consensus-shelley-test/test/golden/ShelleyNodeToNodeVersion1/Header
  ouroboros-consensus-shelley-test/test/golden/disk/AnnTip
  ouroboros-consensus-shelley-test/test/golden/disk/Block
  ouroboros-consensus-shelley-test/test/golden/disk/ChainDepState
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/HeaderHash
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  stack.yaml
Labels: consensus

#2512 Shelley: avoid expensive equality check of the LedgerView
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
Labels: consensus

#2521 Introduce header revalidation to speed up Shelley block revalidation
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  stack.yaml
Labels: consensus

#2501 Merge db-validator and db-analyser
  default.nix
  nix/validate-mainnet.nix
  ouroboros-consensus-cardano/README.md
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Byron.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-cardano/tools/db-analyser/HasAnalysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/tools/db-validator/Main.hs
Labels: consensus

#2459 Keep every snapshot in memory and remove the concept of snapEvery
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Labels: consensus

#2533 Avoid keeping the AVVM balances in memory
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Config.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/DiskPolicy.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: consensus

#2541 Rename RunOrStop as ControlMessage
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/src/Ouroboros/Network/KeepAlive.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Test/Mux.hs
  ouroboros-network/test/Test/Ouroboros/Network/KeepAlive.hs
  ouroboros-network/test/Test/Pipe.hs
Labels: networking

#2538 Remove Typeable constraint from RunNode
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: consensus, networking

#2548 Port #2525 and #2531 to master
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
Labels: consensus

#2543 Replace LedgerCursor with getPastLedger
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LedgerCursor.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
Labels: consensus

#2546 Remove LedgerView history
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Examples.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-byron-test/test/golden/disk/LedgerState
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/DelegationHistory.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Byron
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Byron
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_WithSnapshot
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/BFT.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/Praos.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PraosRule.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/History.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Forecast.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsProtocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: consensus
