Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-02, with the labels that each got.

#1509 Add getCapacity to Mempool API
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus, mempool

#1562 Add `SlotNo` to `TickedLedgerState`
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Auxiliary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/ByronSpec/Rules.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool/TestBlock.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
Labels: consensus

#1576 Fix #1573: ReadFile: pass NULL pointer to lpNumberOfBytesRead
  Win32-network/cbits/Win32Async.c
Labels: mux, networking

#1560 Provisioning power-shell script
  scripts/install.ps1
Labels: Windows

#1598 Cleanup ntp-client.cabal file
  nix/.stack.nix/ntp-client.nix
  ntp-client/demo/Main.hs
  ntp-client/ntp-client.cabal
Labels: networking, ntp-client, technical debt, testing

#1554 Detect clock changes
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/WallClock.hs
Labels: consensus

#1603 Avoid use of TMVar
  ouroboros-consensus/src/Ouroboros/Consensus/Util/IOLike.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/MonadSTM/StrictMVar.hs
  ouroboros-consensus/src/Ouroboros/Storage/ImmutableDB/Impl/Index/Cache.hs
Labels: consensus

#1539 Improve support for monad stacks
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
  io-sim-classes/src/Control/Monad/Class/MonadST.hs
  io-sim-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim-classes/src/Control/Monad/Class/MonadSTM/Strict.hs
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
  io-sim-classes/src/Control/Monad/Class/MonadTimer.hs
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/test/Test/IOSim.hs
  io-sim/test/Test/STM.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/IOLike.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/STM.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Storage/Util/ErrorHandling.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/Network.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Mock.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/Ouroboros/Network/PeerSelection/Test.hs
  ouroboros-network/test/Test/Pipe.hs
  ouroboros-network/test/Test/Socket.hs
  ouroboros-network/test/Test/Subscription.hs
Labels: consensus, networking

#1601 Test clock changes
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/IOLike.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ResourceRegistry.hs
Labels: consensus

#1608 Avoid use of genesisSlotNo/genesisBlockNo
  cabal.project
  nix/.stack.nix/cardano-binary-test.nix
  nix/.stack.nix/cardano-binary.nix
  nix/.stack.nix/cardano-crypto-class.nix
  nix/.stack.nix/cardano-slotting.nix
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/DelegationHistory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/Network.hs
  ouroboros-consensus/test-consensus/golden/cbor/byron/LedgerState
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/MockChain/Chain.hs
  stack.yaml
Labels: consensus

#1600 Add ProtocolTracers parameter to Ouroboros.Consensus.Node.run
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: consensus

#1577 Introduce header validation as concept
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/ChainSyncClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Byron/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Mock/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/Praos.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo/Mock/PraosRule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Byron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/DualByron.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/test-consensus/Test/Consensus/LocalStateQueryServer.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/Network.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/test-consensus/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model/Test.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-util/Test/Util/TestBlock.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
Labels: consensus

#1623 Validate the ChainDB when the clean shutdown marker is missing
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Exit.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ExitFailure.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Recovery.hs
Labels: consensus

#1625 ChainDB: allow EBB with same block number as the immutable block
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model/Test.hs
Labels: consensus

#1634 versions semigroup
  ouroboros-network/src/Ouroboros/Network/Protocol/Handshake/Version.hs
Labels: networking

#1642 ChainDB: update error message
  ouroboros-consensus/src/Ouroboros/Storage/ChainDB/API.hs
Labels: consensus

#1643 Handshake protocol number belongs to 'ouroboros-network'
  network-mux/src/Network/Mux/Types.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Socket.hs
Labels: networking

#1672 PraosValidationError: export
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
Labels: consensus

#1671 Use a shared directory for ouroboros-consensus-byrondual
  ouroboros-consensus-byron/README.md
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
Labels: consensus

#1670 Rename the confusing TraceAddBlockEvent.SwitchedToChain message
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
Labels: consensus

#1677 Use the IO instance of MonadRandom
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Forge.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Forge.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Abstract.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Main.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Random.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/BFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/LeaderSchedule.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Random.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/STM.hs
Labels: consensus

#1680 VolatileDB: rewrite the model and q-s-m tests
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/TestBlock.hs
Labels: consensus

#1686 Improve registry documentation, add `withThread`
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
Labels: consensus

#1692 Remove redundant constraints
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byronspec/ouroboros-consensus-byronspec.cabal
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus/ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Split.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Recovery.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/MockChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT/ChainState.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/CRC.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/RedundantConstraints.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
Labels: consensus

#1691 consensus: handle EBBs in rewindHeaderState
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
Labels: bug, consensus

#1702 Remove ErrorHandling
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Error.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/MockFS.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Pure.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/STM.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/CRC.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Cache.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Primary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Secondary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Validation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Util/ErrorHandling.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Util.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Node.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Primary.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/Util.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#1688 Trace transaction requests and replies in txSubmissionOutbound
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
Labels: consensus

#1704 Replace `Tip` by `WithOrigin`
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Validation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/TraceSize.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Labels: consensus

#1705 network: add IsIdle argument to the PeerFetchStatusReady fingerprint
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
Labels: networking

#1701 VolatileDB: Unify and extend getters
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Types.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#1706 Introduce RealPoint
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/RealPoint.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockFetchServer.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reopen.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/TraceSize.hs
  ouroboros-consensus/test-consensus/Test/Consensus/LocalStateQueryServer.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model/Test.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
Labels: consensus

#1552 windows vectored io for sockets
  Win32-network/Win32-network.cabal
  Win32-network/cbits/Win32Socket.c
  Win32-network/src/System/Win32/Async.hs
  Win32-network/src/System/Win32/Async/File.hs
  Win32-network/src/System/Win32/Async/IOManager.hs
  Win32-network/src/System/Win32/Async/Internal.hs
  Win32-network/src/System/Win32/Async/Socket.hs
  Win32-network/src/System/Win32/Async/Socket/ByteString.hs
  Win32-network/src/System/Win32/Async/Socket/ByteString/Lazy.hs
  Win32-network/src/System/Win32/Async/WSABuf.hsc
  Win32-network/src/System/Win32/NamedPipes.hsc
  Win32-network/test/Test/Async/Socket.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Pipe.hs
Labels: Windows, networking

#1718 Resolve unexpected thunks encountered during ChainDB tests
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeId.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
Labels: consensus
