Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-12, with the labels that each got.

#2773 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion1/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion1/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion2/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion2/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion3/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion3/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion4/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion4/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion4/GenTx_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion4/Result_Allegra_LedgerTip
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion5/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion5/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion5/GenTx_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion5/GenTx_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion5/Result_Allegra_LedgerTip
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToClientVersion5/Result_Mary_LedgerTip
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion1/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion1/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion2/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion2/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion3/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion3/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion3/GenTx_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion3/Header_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/Block_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/GenTxId_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/GenTx_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/GenTx_Mary
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/Header_Allegra
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/Header_Mary
  ouroboros-consensus-cardano-test/test/golden/disk/Block_Allegra
  ouroboros-consensus-cardano-test/test/golden/disk/Block_Mary
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
Labels: consensus

#2785 Allow for limited wallclock rollback
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock/Default.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock/HardFork.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock/Simple.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
Labels: consensus

#2788 Inject transactions from past eras when forging a block
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Forging.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/InjectTxs.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Util/Match.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
Labels: consensus

#2792 Parameterise LedgerDB over blk instead of r
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/TraceSize.hs
Labels: consensus

#2799 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Roundtrip.hs
Labels: consensus

#2798 Fix unexpected thunk in LgrDB
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
Labels: consensus

#2800 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Query.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#2795 Generalise AnchoredFragment to AnchoredSeq
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/Diff.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/InFuture.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderStateHistory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Paths.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/TraceSize.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Versioned.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredSeq.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/State.hs
  ouroboros-network/src/Ouroboros/Network/Testing/ConcreteBlock.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/Test/AnchoredFragment.hs
Labels: consensus

#2536 LedgerSupportsPeerSelection: return peers registered in ledger state
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/SingleEraBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/PeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsPeerSelection.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Test/LedgerPeers.hs
Labels: consensus

#2794 Improve mux tracing
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: mux, networking

#2802 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
Labels: consensus

#2812 ChainSyncClient: derive ourTip from ourFrag
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
Labels: consensus

#2811 Allow skipping a prefix of the eras in Cardano mode
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyBased.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Nary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node/InitStorage.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Init.hs
Labels: consensus

#2818 Gracefully handle decoding more summaries than statically known eras
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Summary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Counting.hs
Labels: consensus

#2807 TxSubmission2 protocol
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Trans/Hello/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Trans/Hello/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Trans/Hello/Util.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Type.hs
  ouroboros-network/test/Main.hs
  typed-protocols/src/Network/TypedProtocol/Core.hs
  typed-protocols/src/Network/TypedProtocol/Pipelined.hs
Labels: networking, tx-submission

#2791 Labelled TVars & friends
  io-sim-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim-classes/src/Control/Monad/Class/MonadSTM/Strict.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/test/Test/IOSim.hs
Labels: io-sim, io-sim-classes

#2832 Allow multiple credentials for Cardano testnets
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/ShelleyAllegra.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#2834 StyleGuide: fix typos
  ouroboros-consensus/docs/StyleGuide.md
Labels: documentation
