Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-04, with the labels that each got.

#1885 Cleanup `.Util` module a bit
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
Labels: consensus

#1839 ChainDB.StateMachine: testing wiping the VolatileDB
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reopen.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1888 Cleanup hard fork history tests
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Counting.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Infra.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Summary.hs
Labels: consensus

#1890 Remove the ability to reopen the databases
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reopen.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#1897 Change how IOManager is handling exceptions
  Win32-network/src/System/IOManager.hs
  Win32-network/src/System/Win32/Async/IOManager.hsc
  Win32-network/test/Test/Async/Socket.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: networking

#1879 Update to latest cardano-ledger-specs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#1916 Label all threads spawned by consensus
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
  io-sim-classes/src/Control/Monad/Class/MonadFork.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/BlockchainTime.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Cache.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/IOLike.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/STM.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/ResourceRegistry.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Util/MonadSTM/RAWLock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock.hs
Labels: consensus

#1867 Added consistent bounds for network packages dependencies
  network-mux/network-mux.cabal
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network/ouroboros-network.cabal
Labels: networking

#1918 Delete `onSlotChange` from `BlockchainTime`
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/BlockchainTime.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/Mock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock/Test.hs
Labels: consensus

#1919 VolatileDB: only obtain the write lock if we can GC a file
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl/Index.hs
Labels: consensus

#1921 Update to latest cardano-ledger-specs
  cabal.project
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Ledger.hs
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byronspec/ouroboros-consensus-byronspec.cabal
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Accessors.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Conversions.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Forge.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/GenTx.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Genesis.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Orphans.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Rules.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/History.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/State.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/RealTPraos.hs
  stack.yaml
Labels: consensus

#1806 Remove duplicate transaction check from tryAddTxs in mempool
  cabal.project
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  stack.yaml
Labels: consensus

#1891 Reinit the dns lib before each call
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Dns.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
Labels: networking

#1932 ChainDB: batch garbage collections
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/QuickCheck.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Condense.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/GcSchedule.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: consensus

#1938 ChainDB: update a docstring and simplify a function
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
Labels: consensus

#1925 cardano-ledger-specs annotated decoding
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  stack.yaml
Labels: consensus

#1946 Introduce Query abstraction
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Infra.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Summary.hs
Labels: consensus

#1708 Check for unexpected thunks in TxSubmission.Inbound state
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Cache.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/MonadSTM/NormalForm.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
Labels: networking, tx-submission

#1942 Replace `anachronisticLedgerView` by `ledgerViewForecastAt`
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/DelegationHistory.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Forge.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Forge.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Forecast.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsProtocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1522 Enable the LocalStateQuery protocol, breaking network compatibility
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/test/Test/Consensus/Byron/Ledger.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/NetworkProtocolVersion.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeNetwork.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Test/Version.hs
Labels: networking

#1956 ChainDB: store a ledger snapshot on startup after a long replay
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
Labels: consensus

#1959 Various changes after splitting consensus API
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/NetworkProtocolVersion.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Direct.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Examples.hs
Labels: consensus, networking

#1947 Shelley Tx generation
  cabal.project
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/TxGen/Byron.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/TxGen/Mock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/TxGen.hs
  stack.yaml
Labels: consensus

#1928 Fix thunks in Shelley
  cabal.project
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Util/MonadSTM/RAWLock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/GcSchedule.hs
  stack.yaml
Labels: consensus

#1963 Shelley: do the chainChecks in validateEnvelope
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/HeaderValidation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Orphans.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1967 Shelley: detect corruption in headers and blocks
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Corruption.hs
  stack.yaml
Labels: consensus

#1969 Added `catches` to MonadCatch
  io-sim-classes/src/Control/Monad/Class/MonadThrow.hs
Labels: io-sim, networking

#1968 Introduce IsLedger/ApplyBlock classes
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Genesis.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/ToExpr.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/BlockCache.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Conf.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
Labels: consensus

#1886 Haddocks on github-pages pushed by github-actions
  .github/workflows/github-page.yml
  .gitignore
  io-sim/test/Test/STM.hs
  network-mux/test/Test/Mux.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  scripts/haddocs.sh
  scripts/prolog
Labels: documentation, networking

#1973 Introduce ValidatedFragment
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/Validated.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
Labels: consensus

#1954 ImmutableDB: migrate XXXXX.epoch to XXXXX.chunk
  ouroboros-consensus-byron/tools/db-converter/Main.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Error.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/FsTree.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/MockFS.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/Pure.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/STM.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Cache.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Primary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Index/Secondary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Util.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Validation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
Labels: consensus

#1978 ChainDB.Reader: avoid disk reads when moving forward to the same pt
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
Labels: consensus

#1984 Shelley: switch from Ed448DSIGN to Ed25519DSIGN
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
Labels: consensus

#1986 Shelley: switch from SHA256 to Blake2b_256
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  stack.yaml
Labels: consensus

#1981 Version codec
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/CodecCBORTerm.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test-cddl/Main.hs
  ouroboros-network/test/Test/Socket.hs
  ouroboros-network/test/Test/Version.hs
Labels: networking, node-to-client, node-to-node

#1988 Pass TestBlockchainTime around in consensus tests
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/Mock.hs
Labels: consensus

#1990 Further increase use of TestBlockchainTime in the tests
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT/TrackUpdates.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Ref/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Util.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Util/NodeJoinPlan.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Util/NodeRestarts.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Time.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/test/Test/ThreadNet/Util/Tests.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/API.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock/Test.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1982 Enable -Wall in ouroboros-network-framework
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server/RateLimiting.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Dns.hs
Labels: networking

#1992 Increase use of TestBlockchainTime still more
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/BlockchainTime.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Time.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/AddBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Mock/Test.hs
Labels: consensus

#2001 Add error policy for SubscriberError
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: networking

#1999 Stronger type-level guarantee for `Summary`
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Summary.hs
Labels: consensus

#1994 Delete SlotLengths
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Conversions.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/tools/db-converter/Main.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Time.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/SlotLength.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/SlotLengths.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/LedgerDerivedInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Time.hs
  ouroboros-consensus/test-consensus/Main.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/SlotLengths.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Infra.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Summary.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
Labels: consensus

#1906 Change filelock behaviour
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FileLock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/DbLock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/DbMarker.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ErrorPolicy.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/FileLock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/Node.hs
Labels: consensus

#2009 Run stylish-haskell in CI
  .buildkite/pipeline.yml
  nix/stylish-haskell.nix
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT/ProtocolInfo.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Accessors.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/GenTx.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Orphans.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Rules.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/UTxO.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/MockFS.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Golden.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/NetworkProtocolVersion.hs
  scripts/buildkite/check-stylish.sh
  shell.nix
Labels: consensus

#2010 Shelley: check thunks for GenTx
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
Labels: consensus

#1991 Test Shelley protocol in decentralised mode
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger/Golden.hs
  ouroboros-consensus-shelley/test/Test/ThreadNet/RealTPraos.hs
  release.nix
  stack.yaml
Labels: consensus

#2015 Mention stylish-haskell in the README
  README.md
Labels: consensus

#2016 Add getFilteredUTxO to LocalStateQuery
  cabal.project
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/test/Test/Consensus/Shelley/Ledger.hs
  stack.yaml
Labels: consensus

#2019 Mention how to run stylish-haskell with nix in the README
  README.md
Labels: consensus

#2020 Use correct slot length
  ouroboros-consensus-byron/ouroboros-consensus-byrondual/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Conversions.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Genesis.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock.hs
  ouroboros-consensus/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
Labels: consensus

#2023 Refactor netowrk-mux.cabal file
  network-mux/network-mux.cabal
Labels: mux, networking

#2022 Haddocks for internal modules
  scripts/haddocs.sh
Labels: documentation, networking

#2024 Implement HasNetworkProtocolVersion instance for ShelleyBlock
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus
