Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-06, with the labels that each got.

#2182 Pass CodecConfig to all en/decoders in RunNode
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Abstract.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PraosRule.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
Labels: consensus

#2181 Right inverse of diffTimeToMicroseconds.
  io-sim-classes/io-sim-classes.cabal
  io-sim-classes/src/Control/Monad/Class/MonadTimer.hs
  io-sim-classes/test/Main.hs
  io-sim-classes/test/Test/MonadTimer.hs
Labels: io-sim-classes

#2185 Split off CodecConfig from ConfigSupportsNode
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Config.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Abstract.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Config/SupportsNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
Labels: consensus

#2048 JIT EBBs in the ThreadNet tests require ExtLedgerState in block production
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
Labels: protocol testing, testing

#2187 Decouple BinaryInfo from the block encoder
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byron/tools/db-analyser/Main.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/Consensus/Ledger/Mock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/HasBlockBody.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ImmDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Parser.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Mock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#2175 KeepAlive protocol
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Examples.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Type.hs
  ouroboros-network/test/Main.hs
Labels: networking, node-to-node

#2190 Added -Wall to ouroboros-protocol-tests library
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
Labels: networking, protocol testing

#2159 Exports more Types
  cardano-client/src/Cardano/Client/Subscription.hs
Labels: api

#2166 Improvements for Lazy Bidirectional Mux
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Compat.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: mux, networking

#2202 Rationalise stability window calculations.
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
Labels: consensus

#2197 test-consensus: off-by-one in the HFC A.hs ledger
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
Labels: protocol testing, testing

#2216 test-infra: remove pgaCustomLabelling
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
Labels: protocol testing, testing

#2222 reorganize TestConfig and TestConfigBlock
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualPBFT.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/LeaderSchedule.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Rekeying.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
Labels: protocol testing, testing

#2123 Ignore sanity checks
  network-mux/test/Test/Mux/Timeout.hs
Labels: mux, networking, testing

#2203 Add test for send and recv over a bidirectional bearer
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/test/Test/Mux.hs
Labels: mux

#2230 Keep alive apps and scheduled-stop
  cardano-client/src/Cardano/Client/Subscription.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Test.hs
  ouroboros-network/src/Ouroboros/Network/KeepAlive.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
  ouroboros-network/test/Test/Mux.hs
  ouroboros-network/test/Test/Pipe.hs
  ouroboros-network/test/Test/Socket.hs
Labels: networking, peer2peer

#2226 New BlockComponent: GetNestedType
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/BlockComponent.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Reader.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#2228 Fix broken q-s-m tests and all bugs that appeared
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/FS/Sim/MockFS.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Classify.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/FS/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
Labels: consensus

#2242 Update dependencies
  cabal.project
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Golden.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Genesis.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  stack.yaml
Labels: consensus

#2147 Byron-to-Shelley hard fork
  ouroboros-consensus-byron-test/ouroboros-consensus-byron-test.cabal
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/Genesis.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/ProtocolInfo.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/TrackUpdates.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/TxGen/Byron.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Condense.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/test/Main.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Serialisation.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Serialisation.hs
  ouroboros-consensus/src/Data/SOP/Strict.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/SingleEraBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Forge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Serialisation/SerialiseDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/TypeFamilyWrappers.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Block.hs
Labels: consensus

#2261 Move Ouroboros.Consensus.Util.Random to Test.Util.Random
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/TrackUpdates.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/BFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/PBFT.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/Praos.hs
  ouroboros-consensus/ouroboros-consensus-mock/test/Test/ThreadNet/TxGen/Mock.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/General.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Rekeying.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/TxGen.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Util/BlockProduction.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Orphans/Arbitrary.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Random.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node/BlockProduction.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
Labels: consensus

#2249 Use a random timeout when waiting for new block headers
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: networking

#2275 Introduce CommonProtocolParams
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/SingleEraBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/CommonProtocolParams.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/CommonProtocolParams.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsMempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
Labels: consensus

#2221 Mux miniprotocol restart
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Compat.hs
  network-mux/test/Test/Mux.hs
  network-mux/test/Test/Mux/ReqResp.hs
Labels: mux, networking

#2278 Enable NodeToNodeV_2 for Byron
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
Labels: consensus

#2277 trigger Byron->Shelley in the Cardano ThreadNet tests via an update proposal
  cabal.project
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano/test/Test/Consensus/Cardano/Serialisation.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Golden.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  stack.yaml
Labels: consensus, protocol testing, testing

#2283 Revert "Enable NodeToNodeV_2 for Byron"
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
Labels: consensus

#2273 Fix thunks in Byron-to-Shelley
  cabal.project
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Examples.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/TrackUpdates.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Golden.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/HeaderValidation.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/Time.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/Common.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  stack.yaml
Labels: consensus

#2288 Change the GetCurrentLedgerState query to GetCurrentEpochState
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
Labels: consensus

#2282 strengthen the Cardano ThreadNet test
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/TrackUpdates.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/RealPBFT.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/ouroboros-consensus-test-infra.cabal
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/BoolProps.hs
Labels: protocol testing, testing

#2290 nix: include ghcid and cabal exes in nix-shell
  shell.nix
Labels: nix

#2286 coot/trailing bytes 2
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Compat.hs
  network-mux/test/Test/Mux.hs
  network-mux/test/Test/Mux/ReqResp.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Driver.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
Labels: mux, networking

#2280 coot/ghc warnings
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Bearer/NamedPipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Compat.hs
  network-mux/src/Network/Mux/DeltaQ/TraceStats.hs
  network-mux/src/Network/Mux/Ingress.hs
  network-mux/src/Network/Mux/Timeout.hs
  network-mux/test/Test/Mux.hs
  network-mux/test/Test/Mux/ReqResp.hs
  network-mux/test/Test/Mux/Timeout.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Dns.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Ip.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/PeerState.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Worker.hs
  ouroboros-network-framework/test/Network/TypedProtocol/PingPong/Codec/CBOR.hs
  ouroboros-network-framework/test/Network/TypedProtocol/ReqResp/Codec/CBOR.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Driver.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/RateLimiting.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
Labels: networking, technical debt

#2304 Fix haddock build
  .github/workflows/github-page.yml
  cabal.project.local.github-pages
Labels: documentation, networking

#2307 Rename HardCodedTransition to TriggerHardFork and clarify
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
Labels: consensus

#2306 KES fixes
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto/HotKey.hs
Labels: consensus

#2312 Fix #2310
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Translation.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/History.hs
Labels: consensus

#2319 Disabled withTimeoutSerial tests on Windows
  network-mux/test/Test/Mux/Timeout.hs
Labels: Windows, mux, networking

#2298 Concurrently combinator & Handler in MonadCatch
  io-sim-classes/src/Control/Monad/Class/MonadAsync.hs
  io-sim-classes/src/Control/Monad/Class/MonadThrow.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Dns.hs
Labels: io-sim-classes, networking

#2236 Use Quiet to derive Show instances
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux/Trace.hs
Labels: logging, networking

#2311 Backport DNS fixes
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/test/Ouroboros/Network/PeerSelection/Test.hs
Labels: DNS, networking

#2303 coot/ghc warnings
  Win32-network/Win32-network.cabal
  Win32-network/src/System/Win32/Async/Socket.hs
  Win32-network/src/System/Win32/Async/Socket/ByteString/Lazy.hs
  io-sim-classes/io-sim-classes.cabal
  io-sim-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim-classes/src/Control/Monad/Class/MonadSTM/Strict.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim.hs
  ntp-client/ntp-client.cabal
  ntp-client/src/Network/NTP/Client/Packet.hs
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/State.hs
  ouroboros-network/src/Ouroboros/Network/ChainFragment.hs
  ouroboros-network/src/Ouroboros/Network/MockChain/Chain.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/BlockFetch/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Examples.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
  typed-protocols-examples/src/Network/TypedProtocol/Channel.hs
  typed-protocols-examples/typed-protocols-examples.cabal
  typed-protocols/typed-protocols.cabal
Labels: networking

#2289 Shelley/Cardano: take the initial nonce as a parameter
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
Labels: consensus

#2329 Introduce HeaderFields
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Block.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/Common.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/ExamplesPipelined.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
  ouroboros-network/src/Ouroboros/Network/Testing/ConcreteBlock.hs
Labels: consensus

#2323 ChainDB: optimise chain selection for forks
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus/ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus-test-infra/src/Test/Util/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/Diff.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/InFuture.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/Validated.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/ValidatedDiff.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Degenerate.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Iterator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/VolDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Types.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/Iterator.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/ChainDB/VolDB.hs
  ouroboros-consensus/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-network/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
Labels: consensus
