Repository IntersectMBO/ouroboros-network, pull requests merged in 2020-09, with the labels that each got.

#2566 Fix github-pages workflow
  .github/workflows/github-page.yml
Labels: documentation

#2570 Parameterise over era
  cabal.project
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/MockCrypto.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-cardano-test/test/Main.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/ByronCompatibility.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Golden.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Serialisation.hs
  ouroboros-consensus-cardano-test/test/Test/Consensus/Cardano/Translation.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Condense.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyHFC.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/RealTPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/HotKey.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/State.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Roundtrip.hs
  stack.yaml
Labels: consensus

#2579 Fix bug in runQuery: evaluate all Exprs against the same era
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Qry.hs
Labels: consensus

#2585 Trace the success cases of block forging
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
Labels: consensus

#2597 Update dependency on cardano-ledger-specs
  cabal.project
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Orphans.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/MockCrypto.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  stack.yaml
Labels: consensus

#2602 Added network docs to README.md file
  README.md
  docs/network-spec/Makefile
  docs/network-spec/network-spec.tex
Labels: documentation, networking

#2601 Update dependency on ledger-specs, remove overlay schedule
  cabal.project
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Util.hs
  stack.yaml
Labels: consensus

#2613 Disable failing timeout test
  network-mux/test/Test/Mux/Timeout.hs
Labels: mux, networking, testing

#2610 Mux error logging & cardano-client ChangeLog.md file
  cardano-client/cardano-client.cabal
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: mux, networking

#2630 README
  README.md
  network-mux/src/Network/Mux/Time.hs
Labels: documentation, networking

#2625 Fixes to the networking spec
  docs/network-spec/miniprotocols.tex
  docs/network-spec/mux.tex
Labels: documentation, networking

#2632 Ammend github-page workflow
  .github/workflows/github-page.yml
Labels: documentation, networking

#2624 BlockFetch protocol limit
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: block-fetch, networking, node-to-node

#2637 Add missing COMPLETE pragma for CardanoLedgerState
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
Labels: consensus

#2626 Use BlockNo for Byron transition
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Examples.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Inspect.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
Labels: consensus

#2638 Remove stack.yaml as Stack is no longer supported
  .buildkite/pipeline.yml
  scripts/buildkite/stack-cabal-sync.sh
  scripts/buildkite/stack-cabal_config_check.sh
  stack.yaml
Labels: consensus

#2642 Only tick the header state when checking for leadership
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
Labels: consensus

#2611 Tracing improvements
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-framework/test/Test/Network/TypedProtocol/PingPong/Codec.hs
  ouroboros-network-framework/test/Test/Network/TypedProtocol/ReqResp/Codec.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  typed-protocols-examples/src/Network/TypedProtocol/Codec.hs
  typed-protocols-examples/test/Network/TypedProtocol/PingPong/Tests.hs
  typed-protocols-examples/test/Network/TypedProtocol/ReqResp/Tests.hs
Labels: logging, networking

#2651 Add missing case and missing bang
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
Labels: consensus
