Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-04, with the labels that each got.

#3024 Added transition documentation to Connection Manager API
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
Labels: documentation, networking

#3002 consensus: draft the sketch implementation plan for Ouroboros Genesis
  ouroboros-consensus/docs/GenesisDecomposition.md
Labels: consensus

#3044 docs: Record how to establish bors persmissions
  ouroboros-consensus/docs/IOHKOnboarding.md
Labels: consensus

#3055 Don't rebuild github-pages on every push
  .github/workflows/github-page.yml
  scripts/prolog
Labels: documentation, networking

#3047 Modified countConnections to use ConnectionManagerCounters instead.
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
Labels: networking

#3065 Update ubunto github-workflow
  .github/workflows/build.yml
Labels: testing

#3038 Removed MsgKThxBye
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Examples.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
  ouroboros-network/test/messages.cddl
Labels: networking, tx-submission

#3062 New KeepAlive codec
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network/protocol-tests/Test/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
Labels: keep-alive, networking, node-to-node

#3077 peekTQueue and friends
  io-sim-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
Labels: io-sim, io-sim-classes

#3082 Updated network-docs.nix
  nix/network-docs.nix
Labels: documentation, nix

#3088 Refactor cddl specification
  docs/network-spec/Makefile
  docs/network-spec/cddl.tex
  docs/network-spec/miniprotocols.tex
  docs/network-spec/mux.tex
  docs/network-spec/network-spec.tex
  docs/network-spec/revisioncount.tex
  nix/network-docs.nix
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test-cddl/Main.hs
  ouroboros-network/test-cddl/specs/block-fetch.cddl
  ouroboros-network/test-cddl/specs/chain-sync.cddl
  ouroboros-network/test-cddl/specs/common.cddl
  ouroboros-network/test-cddl/specs/handshake-node-to-client.cddl
  ouroboros-network/test-cddl/specs/handshake-node-to-node.cddl
  ouroboros-network/test-cddl/specs/keep-alive.cddl
  ouroboros-network/test-cddl/specs/local-state-query.cddl
  ouroboros-network/test-cddl/specs/local-tx-submission.cddl
  ouroboros-network/test-cddl/specs/tx-submission.cddl
  ouroboros-network/test-cddl/specs/tx-submission2.cddl
  ouroboros-network/test/messages.cddl
Labels: documentation, testing

#3036 Provide slot-to-time conversion to ledger
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/TwoEras.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/WallClock/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/NoHardForks.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/EpochInfo.hs
Labels: consensus

#3098 consensus: HFC now provides EpochInfo in Except monad
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/NoHardForks.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/PartialConfig.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/EpochInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Qry.hs
Labels: consensus
