Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-07, with the labels that each got.

#3218 wireshark plugin: update
  ouroboros-network/wireshark-plugin/ouroboros_network.lua
Labels: networking

#3262 verifyAbstracTransition: transitions from TerminatedSt
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Labels: connection-manager, networking, testing

#3266 shelley: fix bug that used maxTxExUnits instead of maxBlockExUnits
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
Labels: consensus

#3257 Edit network-spec
  docs/network-spec/Makefile
  docs/network-spec/architecture.tex
  docs/network-spec/connection-manager.tex
  docs/network-spec/intro.tex
  docs/network-spec/miniprotocols.tex
  docs/network-spec/mux.tex
  docs/network-spec/network-spec.tex
  docs/network-spec/revisioncount.tex
Labels: documentation, networking

#3269 docs: use relative links in consensus md files
  ouroboros-consensus/README.md
  ouroboros-consensus/docs/Contributing.md
  ouroboros-consensus/docs/Onboarding.md
Labels: consensus, documentation

#3268 Flatten predicate failures
  cabal.project
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/GenTx.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Rules.hs
  ouroboros-consensus-cardano-test/test/Main.hs
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion1/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion2/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion3/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion4/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion5/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion5/GenTx_Alonzo
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion5/Header_Alonzo
  ouroboros-consensus-cardano-test/test/golden/QueryVersion1/CardanoNodeToClientVersion7/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/QueryVersion1/CardanoNodeToClientVersion7/GenTx_Alonzo
  ouroboros-consensus-cardano-test/test/golden/QueryVersion1/CardanoNodeToClientVersion7/Result_Alonzo_LedgerTip
  ouroboros-consensus-cardano-test/test/golden/TopLevelQueryDisabled/CardanoNodeToClientVersion1/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/TopLevelQueryDisabled/CardanoNodeToClientVersion2/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/TopLevelQueryDisabled/CardanoNodeToClientVersion3/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/TopLevelQueryDisabled/CardanoNodeToClientVersion4/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/TopLevelQueryDisabled/CardanoNodeToClientVersion5/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/TopLevelQueryDisabled/CardanoNodeToClientVersion6/Block_Alonzo
  ouroboros-consensus-cardano-test/test/golden/disk/Block_Alonzo
  ouroboros-consensus-test/src/Test/Util/Serialisation/Golden.hs
  ouroboros-consensus/docs/StyleGuide.md
Labels: consensus

#3230 Reject invalid scripts from our wallet
  cabal.project
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualByron.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/golden/CardanoNodeToNodeVersion5/GenTx_Alonzo
  ouroboros-consensus-cardano-test/test/golden/QueryVersion1/CardanoNodeToClientVersion7/GenTx_Alonzo
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/TxGen/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsMempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Pure.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
Labels: consensus

#3278 Update Win32-network dependency
  cabal.project
Labels: Windows, networking

#3261 Move override support for max tx capacities into the ProtocolInfo constructors
  cabal.project
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Ledger.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Examples.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/ProtocolInfo.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/Byron.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Forge.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Byron.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Forge.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/PBFT.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Praos.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Main.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Coherence.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Forging.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Embed/Unary.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Forging.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsMempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxLimits.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  scripts/buildkite/check-stylish.sh
Labels: consensus
