Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-01, with the labels that each got.

#2840 Set fill-column as emacs directory variable in ouroboros-consensus/docs
  ouroboros-consensus/.dir-locals.el
Labels: consensus, documentation

#2838 ConsensusReport: some typos and some phrase edits
  ouroboros-consensus/docs/report/chapters/future/genesis.tex
Labels: consensus

#2841 ConsensusReport: fix typos in low density chapter
  ouroboros-consensus/docs/report/chapters/future/lowdensity.tex
Labels: consensus, documentation

#2842 Build the consensus technical report in CI
  README.md
  default.nix
  docs/shell.nix
  nix/consensus-docs.nix
  nix/network-docs.nix
  nix/pkgs.nix
  ouroboros-consensus/README.md
  release.nix
Labels: consensus, documentation, nix

#2837 Preparatory changes for ThreadNet rewrite (PR number 2)
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-framework/src/Ouroboros/Network/Channel.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
Labels: consensus, networking

#2851 Use uninterruptibleCancel in JobPool
  cabal.project
  network-mux/src/Control/Concurrent/JobPool.hs
Labels: networking

#2854 README: include haddock documentation link
  README.md
Labels: documentation, networking

#2856 ListLike-4.7.3
  cabal.project
Labels: networking

#2855 Onboarding.md: draft a small Consensus Team onboarding doc
  ouroboros-consensus/docs/Contributing.md
  ouroboros-consensus/docs/Onboarding.md
Labels: documentation

#2847 [CAD-2455] Document what needs to be done to add another era
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus/docs/AddingAnEra.md
Labels: consensus, documentation

#2859 readme: edits
  README.md
Labels: consensus, documentation, networking

#2875 Allow to acquire tip by LocalStateQuery protocol client.
  cardano-client/src/Cardano/Client/Subscription.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Examples.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network/test/Main.hs
  typed-protocols-examples/src/Network/TypedProtocol/Codec.hs
Labels: consensus, local-state-query, networking, node-to-client

#2877 Fix typos in network-spec
  .gitignore
  docs/network-spec/miniprotocols.tex
Labels: documentation, networking

#2853 Describe the storage layer in the technical report
  ouroboros-consensus/docs/report/chapters/consensus/protocol.tex
  ouroboros-consensus/docs/report/chapters/consensus/serialisation.tex
  ouroboros-consensus/docs/report/chapters/storage/chaindb.tex
  ouroboros-consensus/docs/report/chapters/storage/chainselection.tex
  ouroboros-consensus/docs/report/chapters/storage/immutabledb.tex
  ouroboros-consensus/docs/report/chapters/storage/ledgerdb.tex
  ouroboros-consensus/docs/report/chapters/storage/mempool.tex
  ouroboros-consensus/docs/report/chapters/storage/volatiledb.tex
  ouroboros-consensus/docs/report/references.bib
  ouroboros-consensus/docs/report/report.tex
Labels: consensus, documentation

#2893 More explicit resource management in ChainSync client and server
  ouroboros-consensus-test/src/Test/Util/LogicalClock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/BlockchainTime/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/STM.hs
Labels: consensus

#2872 ChainDB: minor tidying in Reader.forward
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Follower.hs
Labels: consensus
