Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-03, with the labels that each got.

#2960 Make addTime right associative.
  io-sim-classes/src/Control/Monad/Class/MonadTime.hs
Labels: io-sim-classes

#2947 Add srnEnableDevelopmentalVersions to StdRunNodeArgs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node/Serialisation.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ByronHFC.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyHFC.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/NetworkProtocolVersion.hs
Labels: consensus

#2526 p2p-governor: fix various P2P governor bugs (with tests)
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/KnownPeers.hs
  ouroboros-network/test/Ouroboros/Network/PeerSelection/Test.hs
Labels: networking, peer2peer

#2990 NodeToNode and NodeToClient handshake protocol timeouts
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Test/Socket.hs
Labels: handshake, networking, node-to-client, node-to-node

#2988 network: add headerForgeUTCTime field to BlockFetchConsensusInterface
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/Testing/ConcreteBlock.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
Labels: consensus, networking

#3000 consensus: clarify stability of Debug queries in their comments
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Query.hs
Labels: consensus

#3012 Fix deployment of gh-pages
  .github/workflows/github-page.yml
Labels: documentation, networking

#3020 Updated Haddock's prolog file
  scripts/prolog
Labels: Windows, documentation

#2908 config-CODEOWNERS.md: draft document
  ouroboros-consensus/docs/config-CODEOWNERS.md
Labels: consensus
