Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-12, with the labels that each got.

#3529 Fix rendering of cardano-ping messages
  network-mux/demo/cardano-ping.hs
Labels: networking, cardano-ping

#3526 make unregister functions non-blocking
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Labels: networking, testing, connection-manager

#3513 Move TPraos protocol into its own package.
  cabal.project
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/MockCrypto.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyBased.hs
  ouroboros-consensus-protocol/LICENSE
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Ledger/HotKey.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Ledger/Util.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Query.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
Labels: consensus, praos

#3531 Trace inbound governor errors
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
Labels: networking, peer2peer, inbound-governor

#3512 Injective STM and Async type families
  io-classes/src/Control/Monad/Class/MonadAsync.hs
  io-classes/src/Control/Monad/Class/MonadSTM.hs
  io-classes/src/Control/Monad/Class/MonadTimer.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  network-mux/src/Control/Concurrent/JobPool.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Follower.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/IOLike.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/STM.hs
  ouroboros-network-framework/src/Ouroboros/Network/Channel.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/PeerState.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Script.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Labels: networking, consensus, io-classes

#3541 Strict STM package
  cabal.project
  io-classes/README.md
  io-classes/io-classes.cabal
  io-sim/io-sim.cabal
  network-mux/network-mux.cabal
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network/ouroboros-network.cabal
  strict-stm/LICENSE
  strict-stm/NOTICE
  strict-stm/README.md
  strict-stm/src/Control/Monad/Class/MonadSTM/Strict.hs
  strict-stm/strict-stm.cabal
Labels: networking, io-classes

#3539 Refactor inbound-governor, expand its documentation
  docs/network-spec/connection-manager.tex
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
Labels: networking, peer2peer, inbound-governor

#3548 Review strict-stm cabal file
  strict-stm/strict-stm.cabal
Labels: networking, strict-stm

#3528 Expose connection manager transitions tracer
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: networking

#3545 Extend inbound governor counters
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Labels: networking, peer2peer, inbound-governor
