Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-08, with the labels that each got.

#3293 Changes to controlMessageSTM mechanism
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network/src/Ouroboros/Network/KeepAlive.hs
Labels: networking, peer2peer, tx-submission, keep-alive

#3295 consensus-cardano: enable the Alonzo era by default
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Labels: consensus

#3297 cabal.project: update cardano-ledger-specs dependency
  cabal.project
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/UTxO.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Protocol/Praos.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
Labels: consensus

#2957 Add advice about how to add new argument in Ouroboros.Consensus.Node
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: consensus

#3279 consensus/docs: draft internal-CHANGELOG.md
  ouroboros-consensus/docs/interface-CHANGELOG.md
Labels: consensus, documentation
