Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-05, with the labels that each got.

#3100 network-mux: fix a deadlock
  network-mux/src/Control/Concurrent/JobPool.hs
  network-mux/src/Network/Mux.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
Labels: mux, networking

#3079 Refactored DiffusionArguments for new root peers configuration
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Json.hs
Labels: networking

#3116 Make the mempool pure
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Pure.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Types.hs
Labels: consensus

#3132 peer-state-actions: finish a todo
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Labels: networking, peer2peer

#3121 Network Mux Close
  network-mux/network-mux.cabal
  network-mux/src/Control/Concurrent/JobPool.hs
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  network-mux/src/Network/Mux/Bearer/NamedPipe.hs
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Egress.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/src/Network/Mux/Types.hs
  network-mux/test/Test/Mux.hs
  network-mux/test/Test/Mux/ReqResp.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/test/Test/Mux.hs
Labels: mux, networking

#3076 io-sim: timeout without deadlock
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/test/Test/IOSim.hs
Labels: io-sim

#3130 Update cardano-ledger-specs dependency
  cabal.project
  nix/sources.json
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-mock-test/src/Test/Consensus/Ledger/Mock/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Inspect.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Roundtrip.hs
Labels: consensus

#3142 Removed assertions in PeerStateActions
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Labels: networking, peer2peer

#3131 Continue preparing the for the introduction of AlonzoEra
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/AllegraMary.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/ShelleyAllegra.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/Shelley.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
Labels: consensus

#3149 Fix bad guard on srnEnableInDevelopmentVersions
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
Labels: consensus

#3160 network-mux: prop_mux_close fix
  network-mux/network-mux.cabal
  network-mux/test/Test/Mux.hs
Labels: mux, networking

#3170 Define ShelleyLedgerExamples and rework the shelley examples around it.
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
Labels: consensus

#3184 Mempool: Fix pureSyncWithLedger.
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Pure.hs
Labels: consensus

#3183 ouroboros-network: added tipFromHeader
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network/src/Ouroboros/Network/Block.hs
Labels: consensus, networking

#3177 Remove ShelleyLedgerExamples and update cardano-ledger-specs
  cabal.project
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/MockCrypto.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/TwoEras.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/AllegraMary.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/ShelleyAllegra.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/Shelley.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Inspect.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Crypto.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/HotKey.hs
Labels: consensus, shelley ledger integration

#3126 Fixed network-spec build
  .github/CODEOWNERS
  docs/network-spec/Makefile
  docs/network-spec/latexmkrc
  docs/network-spec/miniprotocols.tex
Labels: documentation, networking

#3178 Incorporate Alonzo summands to CardanoBlock generators
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
Labels: consensus, shelley ledger integration

#3191 Update cardano-ledger-specs dependency for ledger bugfix
  cabal.project
Labels: consensus

#3167 Set the peer as warm before monitoring
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
Labels: peer2peer

#3164 Add some randomness to the reconnection delay
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Labels: peer2peer
