Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-02, with the labels that each got.

#2903 Add GitProcess.md and Contributing.md
  README.md
  ouroboros-consensus/README.md
  ouroboros-consensus/docs/Contributing.md
  ouroboros-consensus/docs/GitProcess.md
  ouroboros-consensus/docs/IOHKOnboarding.md
  ouroboros-consensus/docs/Onboarding.md
  ouroboros-consensus/docs/StyleGuide.md
Labels: consensus

#2915 ThreadNet test for a two-era chain: Allegra to Mary hardfork
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Mary.hs
  ouroboros-consensus-cardano-test/test/Main.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/AllegraMary.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
Labels: consensus

#2911 Changes to support p2p
  network-mux/src/Network/Mux.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Linger.hsc
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/test/Test/Ouroboros/Network/TxSubmission.hs
Labels: connection-manager, networking, peer2peer

#2896 LocalStQuery and ChainSync clients: aditional monadic hooks
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/ChainSync/ExamplesPipelined.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Direct.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/ClientPipelined.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Examples.hs
Labels: local-state-query, networking, node-to-client

#2921 Review changes for #2911
  network-mux/src/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Linger.hsc
Labels: networking

#2922 Uninterruptible close
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
Labels: networking

#2929 network-mux: combine two stm transactions
  network-mux/src/Network/Mux.hs
Labels: networking

#2934 Remove deprecated API's from NodeToClient & NodeToNode modules
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: networking, node-to-client, node-to-node

#2939 consensus-docs: fix report.pdf build
  nix/consensus-docs.nix
Labels: consensus, documentation

#2940 Updated Handshake haddocs, and removed Application newtype wrapper
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/Handshake/Test.hs
Labels: handshake, networking

#2930 Add a self-issued predicate to the Consensus interface
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Block/SupportsMetrics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Abstract/SingleEraBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Node/Metrics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Run.hs
Labels: consensus

#2956 Provide non-trivial handshake timeouts
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
Labels: handshake

#2954 Enable ghc-8.10.4
  .github/workflows/build.yml
  nix/haskell.nix
  nix/sources.json
Labels: nix
