Repository IntersectMBO/ouroboros-network, pull requests merged in 2021-11, with the labels that each got.

#3488 access point json representation
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RelayAccessPoint.hs
Labels: networking

#3452 CAD-3565 split `openChainDB`
  .gitignore
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ImmutableDB/StateMachine.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/VolatileDB/StateMachine.hs
  ouroboros-consensus/docs/report/chapters/intro/nonfunctional.tex
  ouroboros-consensus/docs/report/chapters/storage/chaindb.tex
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/State.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Validation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
Labels: consensus, chain db

#3493 Verify that server rethrows exceptions
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/test/Test/Simulation/Network/Snocket.hs
Labels: networking, peer2peer

#3499 pruning policy
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
Labels: networking, peer2peer, diffusion

#3495 Review of pruning
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Labels: networking, peer2peer, connection-manager

#3508 Connection manager refactoring
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/ControlChannel.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Labels: networking, peer2peer, testing, connection-manager, inbound-governor
