Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-04, with the labels that each got.

#3680 Performance improvements of IOSim
  cabal.project
  io-sim/bench/Main.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/CommonTypes.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/InternalTypes.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Data/List/Trace.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  typed-protocols-examples/src/Network/TypedProtocol/Driver/Simple.hs
  typed-protocols-examples/src/Network/TypedProtocol/PingPong/Codec.hs
  typed-protocols-examples/src/Network/TypedProtocol/ReqResp/Codec.hs
  typed-protocols-examples/test/Network/TypedProtocol/PingPong/Tests.hs
Labels: networking, io-sim

#3712 Fix Haddocks CI by installing secp256k1
  .github/workflows/github-page.yml
Labels: nix

#3696 Remove TxSubmission V1 and all node-to-node versions smaller or equal to NodeToNodeV_6
  docs/interface-CHANGELOG.md
  ouroboros-consensus-byron-test/test/Test/ThreadNet/Byron.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxSeq.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/KeepAlive/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission/Test.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission2/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission2/Examples.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Trans/Hello/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Trans/Hello/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/Trans/Hello/Util.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Hello/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Hello/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Hello/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Hello/Type.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TxSubmission2/Type.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Mempool/Reader.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
  ouroboros-network/test-cddl/Main.hs
  ouroboros-network/test-cddl/specs/handshake-node-to-node.cddl
  ouroboros-network/test-cddl/specs/tx-submission.cddl
  ouroboros-network/test-cddl/specs/tx-submission2.cddl
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/test/Test/Ouroboros/Network/KeepAlive.hs
  ouroboros-network/test/Test/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test/Test/Ouroboros/Network/TxSubmission.hs
  ouroboros-network/test/Test/Socket.hs
Labels: networking, tx-submission, node-to-node, maintenance

#3700 Update supported protocol versions of cardano-ping"
  network-mux/network-mux.cabal
  network-mux/tools/Linger.hsc
  network-mux/tools/cardano-ping.hs
Labels: networking, cardano-ping, maintenance

#3711 CAD-4179 Refine Shelley->Allegra to use the Ledger AVVMs
  cabal.project
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/DeadAVVMs.hs
Labels: consensus, UTxO-HD 📒💽

#3708 Fix performance regression
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: consensus, UTxO-HD 📒💽

#3713 Add `yield` to `MonadFork`
  io-classes/src/Control/Monad/Class/MonadFork.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/test/Test/IOSim.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
Labels: io-sim, io-classes

#3688 Block diffusion pipelining
  network-mux/tools/cardano-ping.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-test/src/Test/ThreadNet/General.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/InFuture.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/AcrossEras.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/ModChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Protocol/PBFT.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API/Types/InvalidBlockPunishment.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Follower.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Init.hs
  ouroboros-consensus/src/Ouroboros/Consensus/TypeFamilyWrappers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/MonadSTM/NormalForm.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/TentativeState.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientRegistry.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test-cddl/specs/handshake-node-to-node.cddl
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
  strict-stm/src/Control/Monad/Class/MonadSTM/Strict.hs
Labels: consensus

#3714 Fix: Serialization tests
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Allegra
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Alonzo
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Mary
  ouroboros-consensus-cardano-test/test/golden/disk/ExtLedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Allegra
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Alonzo
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Mary
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerState_Shelley
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerTables_Alonzo
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/MockCrypto.hs
  ouroboros-consensus-shelley-test/test/golden/disk/ExtLedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerState
  ouroboros-consensus-shelley-test/test/golden/disk/LedgerTables
Labels: consensus, UTxO-HD 📒💽

#3718 CAD-4188: Make rewindKeys a no-op
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Labels: consensus, UTxO-HD 📒💽

#3717 CAD-4098 add Flush cmd to OnDisk tests
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Labels: consensus, UTxO-HD 📒💽

#3720 Fix and unify stylish-haskell checks
  .stylish-haskell-network.yaml
  .stylish-haskell.yaml
  README.md
  default.nix
  io-classes/src/Control/Monad/Class/MonadAsync.hs
  io-classes/src/Control/Monad/Class/MonadSTM.hs
  io-classes/src/Control/Monad/Class/MonadTest.hs
  io-classes/src/Control/Monad/Class/MonadTimer.hs
  io-sim/bench/Main.hs
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/CommonTypes.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/InternalTypes.hs
  io-sim/src/Control/Monad/IOSim/STM.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/src/Control/Monad/IOSimPOR/QuickCheckUtils.hs
  io-sim/src/Control/Monad/IOSimPOR/Timeout.hs
  io-sim/test/Test/Control/Monad/IOSimPOR.hs
  io-sim/test/Test/IOSim.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/TCPInfo.hs
  network-mux/src/Network/Mux/Trace.hs
  nix/check-stylish-network.nix
  nix/check-stylish.nix
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/test/Test/Ouroboros/Network/ShrinkCarefully.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
  release.nix
  scripts/ci/check-stylish-network.sh
  scripts/ci/check-stylish.sh
  strict-stm/src/Control/Monad/Class/MonadSTM/Strict.hs
  typed-protocols-examples/src/Network/TypedProtocol/PingPong/Codec.hs
  typed-protocols-examples/src/Network/TypedProtocol/ReqResp/Codec.hs
Labels: nix

#3619 Diffusion Tests
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Signal.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/NodeKernel.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
Labels: networking, peer2peer, testing, diffusion
