Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-08, with the labels that each got.

#3922 connection-handler: renamed error trace constructor
  docs/interface-CHANGELOG.md
  ouroboros-consensus/docs/interface-CHANGELOG.md
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
Labels: networking, peer2peer, connection-manager

#3952 Remove `FromCBOR` and `ToCBOR` instances from `LedgerDB.HD` module.
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD.hs
Labels: :handshake: consensus, UTxO-HD 📒💽

#3915 PeerMetrics: interpolate results when inserting a new peer
  network-mux/src/Network/Mux/Trace.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Script.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerMetric.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerMetric.hs
Labels: networking, peer2peer

#3967 Update haskell.nix and friends for Cabal 3.8
  nix/pkgs.nix
  nix/sources.json
Labels: 🔄 continuous-integration

#3852 Add block-fetch to Diffusion tests
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/BlockFetch/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/AbsBearerInfo.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientRegistry.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/NodeKernel.hs
  ouroboros-network/test/Test/Ouroboros/Network/Orphans.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
Labels: networking, peer2peer, testing, block-fetch, diffusion

#3970 Fix dns re-initialisation on Windows
  ouroboros-consensus-test/test-storage/Main.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/DNSActions.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
Labels: networking, DNS

#3947 Add option for nightly, ci and dev test
  ouroboros-consensus-byron-test/test/Main.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/DualByron.hs
  ouroboros-consensus-cardano-test/test/Main.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/AllegraMary.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/MaryAlonzo.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/ShelleyAllegra.hs
  ouroboros-consensus-mock-test/test/Main.hs
  ouroboros-consensus-shelley-test/test/Main.hs
  ouroboros-consensus-shelley-test/test/Test/ThreadNet/Shelley.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/Nightly.hs
  ouroboros-consensus-test/src/Test/Util/TestEnv.hs
  ouroboros-consensus-test/test-consensus/Main.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
  ouroboros-consensus-test/test-infra/Main.hs
  ouroboros-consensus-test/test-storage/Main.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: :handshake: consensus, 🔄 continuous-integration

#3928 Improved haddocks of FetchDecline
  ouroboros-consensus-cardano-tools/test/Main.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
Labels: networking, documentation
