Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-06, with the labels that each got.

#3786 LMDB on top of UTxO-HD
  .github/workflows/build.yml
  cabal.project
  nix/default.nix
  nix/lmdb-mingw.patch
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/golden/disk/LedgerTables_Babbage
  ouroboros-consensus-cardano/README.md
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-cardano/tools/db-analyser/HasAnalysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/tools/ledger-db-backends-checker/Main.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/src/Test/Util/FS/Sim/Error.hs
  ouroboros-consensus-test/src/Test/Util/FS/Sim/Pure.hs
  ouroboros-consensus-test/src/Test/Util/FS/Sim/STM.hs
  ouroboros-consensus-test/src/Test/Util/Tasty/Traceable.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/BackingStore.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
Labels: consensus, UTxO-HD 📒💽

#3787 Removed TxSubmission version 1 from network-spec
  docs/network-spec/miniprotocols.tex
Labels: networking, documentation

#3797 Pipelining: `yield` after setting the tentative header
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
Labels: consensus

#3757 Extract generation of `ChainUpdate`s from the ChainSync client test
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/ChainUpdates.hs
  ouroboros-consensus-test/src/Test/Util/Schedule.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus-test/test-infra/Main.hs
  ouroboros-consensus-test/test-infra/Test/Util/ChainUpdates/Tests.hs
  ouroboros-consensus-test/test-infra/Test/Util/Schedule/Tests.hs
Labels: consensus

#3795 CAD-3915 config flags in node
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Labels: consensus, UTxO-HD 📒💽

#3807 Strict map operations on UTxO-HD tables
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD.hs
Labels: consensus, UTxO-HD 📒💽

#3780 Refactor Acceptable instance for NodeToNodeVersionData
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Version.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Labels: networking, handshake

#3808 Fix invalid CM transition order
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
Labels: networking

#3805 Augment `db-analyser` backingstore CLI with LMDB `mapsize` option.
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Documentation.md
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Labels: consensus, UTxO-HD 📒💽

#3810 Fix broken links in top-level README
  README.md
Labels: documentation

#3809 Add Bart Frenk as team member to the consensus team onboarding docs
  ouroboros-consensus/docs/IOHKOnboarding.md
Labels: documentation

#3804 scripts: add scripts for slicing node logs
  scripts/slicing-node-logs/README.md
  scripts/slicing-node-logs/binning.awk
  scripts/slicing-node-logs/cumsum1.awk
  scripts/slicing-node-logs/prelude.jq
  scripts/slicing-node-logs/slice.sh
Labels: consensus, benchmarking

#3822 Removed analysis of public root peers requests
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
Labels: networking, testing, DNS, diffusion

#3794 Galois code review
  network-mux/src/Control/Concurrent/JobPool.hs
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Types.hs
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/src/Ouroboros/Network/Channel.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/ControlChannel.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/RethrowPolicy.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Worker.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Utils.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
  scripts/haddocs.sh
  scripts/prolog
Labels: networking, technical debt

#3844 Inbound governor idle timeout
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: networking, node-to-client, inbound-governor

#3820 Fixed KeepAlive Convergence test
  ouroboros-network/test/Test/Ouroboros/Network/KeepAlive.hs
Labels: networking, testing
