Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-11, with the labels that each got.

#4028 consensus: make TickHardForkLedgerView fields strict
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol/LedgerView.hs
Labels: :handshake: consensus

#3860 Test trap tentative header monotonicity
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/test-infra/Main.hs
  ouroboros-consensus-test/test-infra/Ouroboros/Consensus/Util/Tests.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
Labels: :handshake: consensus, testing

#3857 Test promptness of tentative followers
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/FollowerPromptness.hs
Labels: :handshake: consensus, testing

#4103 Updated io-sim & typed-protocols
  cabal.project
  network-mux/network-mux.cabal
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Util/EarlyExit.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network/ouroboros-network.cabal
Labels: networking, io-sim

#4136 log handshake error in state peer actions
  docs/interface-CHANGELOG.md
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
Labels: logging

#4168 Pass ControlMessageSTM to keep-alive client
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
Labels: networking, keep-alive

#4165 Fix cardano-ping node-to-node v10 support
  network-mux/tools/cardano-ping.hs
Labels: bug, networking, cardano-ping

#4170 Pick two changes for 1.35.5
  .github/workflows/build-secp256k1.bash
  .github/workflows/build.yml
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
Labels: networking, peer2peer, block-fetch, keep-alive

#4174 docs/HardWonWisdom.md: on how Ledger uses EpochInfo
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/SupportsProtocol.hs
  ouroboros-consensus/docs/HardWonWisdom.md
Labels: :handshake: consensus

#4188 Removed ntp-client
  .github/workflows/build.yml
  cabal.project
  ntp-client/CHANGELOG.md
  ntp-client/LICENSE
  ntp-client/NOTICE
  ntp-client/README.md
  ntp-client/Setup.hs
  ntp-client/demo/Main.hs
  ntp-client/ntp-client.cabal
  ntp-client/src/Network/NTP/Client.hs
  ntp-client/src/Network/NTP/Client/Packet.hs
  ntp-client/src/Network/NTP/Client/Query.hs
  ntp-client/test/Test.hs
Labels: networking

#4169 contributing: added a section on release branches
  CONTRIBUTING.md
Labels: networking, :handshake: consensus, open-source

#4162 UTxO-HD: simplify mempool
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBSynthesizer/Forging.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/NFData.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Pure.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxMonitor/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: :handshake: consensus, mempool, UTxO-HD 📒💽

#4192 Add note to diff sequence benchmarks that explains the use of `arbitraryBoundedintegral`.
  ouroboros-consensus-test/bench-storage/Bench/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
Labels: :handshake: consensus, documentation, UTxO-HD 📒💽
