Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-10, with the labels that each got.

#4059 Fix GH Actions Windows CI: switch from pkgconf to pkg-config
  .github/workflows/build.yml
Labels: 🔄 continuous-integration

#4065 Disable auto-run of tvar-invariant-check
  default.nix
Labels: 🔄 continuous-integration

#3827 Fix LedgerDB OnDisk tests block generator
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
Labels: :handshake: consensus, testing

#4036 Integrate anti-diff prototype in `consensus` packages
  anti-diff/anti-diff.cabal
  anti-diff/format-stylish.sh
  anti-diff/src/Data/Map/Diff/Strict.hs
  anti-diff/src/Data/Map/Diff/Strict/Internal.hs
  anti-diff/test/Test/Data/FingerTree/RootMeasured/Strict.hs
  anti-diff/test/Test/Data/Map/Diff/Strict.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-cardano/tools/ledger-db-backends-checker/Main.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Query.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus-test/bench-storage/Bench/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/Orphans/DiffSeq/Arbitrary.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/Isomorphism.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/NFData.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/DbChangelog.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  scripts/ci/check-stylish.sh
  semigroupoid/format-stylish.sh
Labels: :handshake: consensus, optimisation, UTxO-HD 📒💽

#4049 UTxO-HD: Rewrite mempool
  .github/workflows/build.yml
  cabal.project
  ouroboros-consensus-byron-test/test/Main.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Mempool.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/Main.hs
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/SupportsMempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Pure.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxSeq.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/BackingStore.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: :handshake: consensus, mempool, UTxO-HD 📒💽

#4098 Clarify current VRF tie breaking implementation
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Common.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Abstract.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Praos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/TPraos.hs
Labels: :handshake: consensus

#4111 make maxMajorProtVer easier to correctly maintain
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
Labels: :handshake: consensus

#4112 Allow chain selection for different blocks with same `SelectView`
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Protocol/ChainSel.hs
Labels: :handshake: consensus

#4113 Release NodeToNodeV_10: single relay p2p release
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Labels: networking
