Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-02, with the labels that each got.

#3591 Trace exceptions thrown by inboundGovernorLoop
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
Labels: networking, peer2peer, inbound-governor

#3594 Update chain-sync documentation
  docs/network-spec/miniprotocols.tex
  ouroboros-network/src/Ouroboros/Network/Protocol/ChainSync/Type.hs
Labels: networking, documentation, chain-sync

#3606 connection-manager: mini-protocol params
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
Labels: networking

#3609 Trace TVar in IOSim & IOSimPOR
  io-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim/io-sim.cabal
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/STM.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
Labels: networking, io-sim, io-classes

#3644 Updated CODEOWNERS file
  .github/CODEOWNERS
Labels: networking
