Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-05, with the labels that each got.

#3745 protocol: add FromCBOR and ToCBOR for PraosState and TPraosState
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
Labels: consensus

#3742 ChainSync client test: model pipelining behavior
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
Labels: consensus, testing

#3734 ChainSync server: prevent duplicate `RollForward` messages
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
Labels: consensus

#3752 New pipelining-motivated tracing events
  ouroboros-consensus-test/src/Test/ThreadNet/General.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/Enclose.hs
Labels: consensus

#3736 Various changes
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Direct.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Examples.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/TipSample/Test.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/State.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Client.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Server.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/TipSample/Type.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Ouroboros/Network/MockNode.hs
  ouroboros-network/test/Test/Ouroboros/Network/BlockFetch.hs
Labels: networking, io-sim

#3699 Remove NodeToClientV_8 and below
  docs/interface-CHANGELOG.md
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-test/src/Test/Util/Serialisation/Roundtrip.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Query/Version.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToClient.hs
  ouroboros-network/protocol-tests/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/src/Ouroboros/Network/Protocol/LocalStateQuery/Codec.hs
  ouroboros-network/test-cddl/Main.hs
  ouroboros-network/test-cddl/specs/handshake-node-to-client.cddl
  ouroboros-network/test/Test/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network/test/Test/Version.hs
Labels: networking, node-to-client, maintenance

#3753 Update cardano-base cardano-ledger plutus deps
  cabal.project
  nix/ouroboros-network.nix
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/TPraos.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/History.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/EpochInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Qry.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/History/Util.hs
Labels: consensus, Vasil_blocker

#3758 protocol: add PraosProtocolSupportsNode class
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Common.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
Labels: consensus, Vasil_blocker

#3756 Remove LedgerConstraint typeclass
  cabal.project
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-lmdb-bs/Main.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
Labels: consensus, UTxO-HD 📒💽

#3767 CAD-4307 LMDB exception handling
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
Labels: consensus, UTxO-HD 📒💽

#3755 CAD-4322 fix Db-analyser for UTxO-HD backends and add db-checker
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/HasAnalysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
  ouroboros-consensus-cardano/tools/ledger-db-backends-checker/Main.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Labels: consensus, UTxO-HD 📒💽

#3769 CAD-4303 merge test suites
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/LMDB.hs
Labels: consensus, UTxO-HD 📒💽

#3733 Fix LMDB for mingwW64 cross compilation
  cabal.project
  nix/default.nix
  nix/lmdb-mingw.patch
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/LMDB.hs
Labels: consensus, nix, UTxO-HD 📒💽

#3765 CAD-4398 Add LMDB to github actions CI
  .github/workflows/build.yml
Labels: consensus, nix, UTxO-HD 📒💽

#3775 Fix NodeToNodeVersion for Babbage and P2P.
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus/docs/interface-CHANGELOG.md
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
Labels: networking, peer2peer, node-to-node
