Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-03, with the labels that each got.

#3645 Fixes so prototype cardano-node can sync Byron from mainnet using in-mem backing store
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: consensus

#3647 IOSim MonadFix instance
  io-classes/src/Control/Monad/Class/MonadSTM.hs
  io-sim/src/Control/Monad/IOSim.hs
  io-sim/src/Control/Monad/IOSim/CommonTypes.hs
  io-sim/src/Control/Monad/IOSim/Internal.hs
  io-sim/src/Control/Monad/IOSim/STM.hs
  io-sim/src/Control/Monad/IOSim/Types.hs
  io-sim/src/Control/Monad/IOSimPOR/Internal.hs
  io-sim/test/Test/IOSim.hs
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
  strict-stm/src/Control/Monad/Class/MonadSTM/Strict.hs
Labels: networking, io-sim

#3654 io-classes: added strict versions of traceTVar & traceTMVar
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  strict-stm/src/Control/Monad/Class/MonadSTM/Strict.hs
Labels: networking, io-classes

#3660 Platform independent TCPInfo trace
  docs/interface-CHANGELOG.md
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux/TCPInfo.hs
  network-mux/src/Network/Mux/TCPInfo/Linux.hsc
  network-mux/src/Network/Mux/Trace.hs
Labels: networking, mux

#3668 Enabled accept errors in net-sim testing
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/test/Test/Simulation/Network/Snocket.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/AbsBearerInfo.hs
Labels: networking
