Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-01, with the labels that each got.

#3574 inbound-governor: Export Transition' & TransitionTrace'
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
Labels: networking, inbound-governor

#3577 Bump haskell.nix, nixpkgs, ghc.
  cabal.project
  nix/default.nix
  nix/local-config.nix
  nix/sources.json
Labels: nix

#3558 SRE-203: Add check-stylish-network to Hydra
  default.nix
  nix/check-stylish-network.nix
  release.nix
  scripts/ci/check-stylish-network.sh
Labels: networking, nix

#3588 Ignore monitoring of cold hot cons beeing demoted
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
Labels: networking, peer2peer

#3585 Monad transformer instances for various type classes in `io-classes`
  io-classes/src/Control/Monad/Class/MonadAsync.hs
  io-classes/src/Control/Monad/Class/MonadFork.hs
  io-classes/src/Control/Monad/Class/MonadSTM.hs
  io-classes/src/Control/Monad/Class/MonadTimer.hs
Labels: networking, io-classes
