Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-07, with the labels that each got.

#3855 Network StyleGuide
  docs/StyleGuide.md
Labels: networking, documentation

#3802 Add a consensus-level BlockFetch client test
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/LogicalClock.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Main.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/BlockFetch/Client.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/BlockFetch/ClientInterface.hs
  ouroboros-consensus/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
Labels: consensus, testing

#3864 [CAD-4406] UTxO-HD: fix CI
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Block.hs
  ouroboros-consensus-cardano/tools/db-analyser/Analysis.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Cardano.hs
  ouroboros-consensus-cardano/tools/db-analyser/Main.hs
Labels: consensus, nix, UTxO-HD 📒💽

#3785 Exit policy
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Network/NodeToNode.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ExitPolicy.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/NonP2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/ExitPolicy.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
Labels: networking, outbound-governor

#3893 Document flakiness of WallClock tests
  .github/PULL_REQUEST_TEMPLATE.md
  ouroboros-consensus-test/test-consensus/Test/Consensus/BlockchainTime/Simple.hs
Labels: :handshake: consensus, testing

#3896 Fix chocolatey error in GH Actions Windows CI
  .github/workflows/build.yml
Labels: 🔄 continuous-integration

#3901 Windows Github Actions now uses MSYS2
  .github/workflows/build.yml
Labels: Windows, 🔄 continuous-integration

#3903 Fix GetUTxOBy(Address|TxIn)
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Query.hs
Labels: :handshake: consensus, UTxO-HD 📒💽

#3919 Use pkg-config on lmdb
  .github/workflows/build.yml
  cabal.project
Labels: :handshake: consensus, UTxO-HD 📒💽

#3921 Fixed typos in network-mux library
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Codec.hs
  network-mux/src/Network/Mux/DeltaQ/TraceStats.hs
  network-mux/src/Network/Mux/DeltaQ/TraceStatsSupport.hs
  network-mux/src/Network/Mux/Timeout.hs
Labels: networking, documentation, :credit_card: technical debt, mux

#3916 Fixed typos found by a reviewer
  docs/network-design/network-design.tex
Labels: networking, documentation

#3824 CAD-4652 Add property tests for DbChangelog combinators
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/ChainUpdates.hs
  ouroboros-consensus-test/src/Test/Util/QuickCheck.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/DbChangelog.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: :handshake: consensus, testing

#3859 Release NodeToNodeV_10 of node-to-node protocol.
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode/Version.hs
Labels: networking, peer2peer
