Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-12, with the labels that each got.

#4201 ouroboros-consenus-cardano version 0.2.0.0
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
Labels: :handshake: consensus

#4214 Fix missing `liblmdb-dev` depency in CI
  .github/workflows/build.yml
Labels: bug, :handshake: consensus, UTxO-HD 📒💽, 🔄 continuous-integration

#4195 ouroboros-network-api: make SizeInBytes a newtype
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Generators.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node/Serialisation.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Node/Serialisation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/Impl/Iterator.hs
  ouroboros-network-api/src/Ouroboros/Network/SizeInBytes.hs
  ouroboros-network/src/Ouroboros/Network/DeltaQ.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/PeerMetric.hs
Labels: networking, technical debt

#4219 Tweak Cicero CI: bigger timeouts, more RAM
  nix/cells/automation/pipelines.nix
Labels: nix, 🔄 continuous-integration

#4194 Revert "Removed ntp-client"
  .github/workflows/build.yml
  cabal.project
  ntp-client/CHANGELOG.md
  ntp-client/LICENSE
  ntp-client/NOTICE
  ntp-client/README.md
  ntp-client/Setup.hs
  ntp-client/demo/Main.hs
  ntp-client/ntp-client.cabal
  ntp-client/src/Network/NTP/Client.hs
  ntp-client/src/Network/NTP/Client/Packet.hs
  ntp-client/src/Network/NTP/Client/Query.hs
  ntp-client/test/Test.hs
Labels: networking, ntp-client

#4230 Fix CI for #4014
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Block/Byron.hs
Labels: 🔄 continuous-integration

#4081 Backingstore-agnostic property tests using model-based testing
  cabal.project
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Analysis.hs
  ouroboros-consensus-cardano/tools/ledger-db-backends-checker/Main.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/LedgerStateOnlyTables.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/DbChangelog.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/BackingStore.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/BackingStore/Lockstep.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/BackingStore/Mock.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/BackingStore/Registry.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/FS/IO.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/BackingStore.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB/Bridge.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB/TransactionHandle.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
Labels: :handshake: consensus, testing, UTxO-HD 📒💽

#4233 Purge `strict-containers` and replace by `cardano-strict-containers`
  anti-diff/anti-diff.cabal
  cabal.project
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/Orphans/NFData.hs
Labels: :handshake: consensus, UTxO-HD 📒💽, dependencies

#4236 Generalise `IsApplyMapKind` to any mapkind instead of only `ApplyMapkind' mk`.
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Ledger.hs
  ouroboros-consensus-byronspec/src/Ouroboros/Consensus/ByronSpec/Ledger/Ledger.hs
  ouroboros-consensus-cardano-test/src/Test/Consensus/Cardano/Examples.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
  ouroboros-consensus-test/src/Test/Util/LedgerStateOnlyTables.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/A.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/HardFork/Combinator/B.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/DbChangelog.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/LMDB.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/TestBlock.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HardFork/Combinator/Ledger.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Dual.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Extended.hs
Labels: :handshake: consensus, UTxO-HD 📒💽

#4186 Add Galois protocol tutorials
  ouroboros-consensus-test/README.md
  ouroboros-consensus/README.md
  ouroboros-consensus/docs/AbstractProtocol.md
  ouroboros-consensus/docs/tutorials/Ouroboros/Consensus/Tutorial/Simple.lhs
  ouroboros-consensus/docs/tutorials/Ouroboros/Consensus/Tutorial/WithEpoch.lhs
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: documentation
