Repository IntersectMBO/ouroboros-network, pull requests merged in 2022-09, with the labels that each got.

#3918 Throw error when ledger db is incompatible
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/BackingStore.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/LMDB.hs
Labels: :handshake: consensus, UTxO-HD 📒💽

#4007 Workaround for Hydra `cp` corruption
  nix/default.nix
  nix/haskell.nix-cp-sync.patch
Labels: 🔄 continuous-integration

#3986 Updated versions of github actions
  .github/dependabot.yml
  .github/workflows/build.yml
  bors.toml
Labels: networking

#3997 Anti-diff prototype for `SeqUtxoDiff` (broken up in parts).
  anti-diff/LICENSE
  anti-diff/NOTICE
  anti-diff/anti-diff.cabal
  anti-diff/format-stylish.sh
  anti-diff/src/Data/FingerTree/RootMeasured/Strict.hs
  anti-diff/src/Data/Map/Diff/Strict.hs
  anti-diff/src/Data/Map/Diff/Strict/Internal.hs
  anti-diff/test/Main.hs
  anti-diff/test/Test/Data/FingerTree/RootMeasured/Strict.hs
  anti-diff/test/Test/Data/Map/Diff/Strict.hs
  cabal.project
  ouroboros-consensus-test/bench-storage/Bench/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
  ouroboros-consensus-test/bench-storage/Main.hs
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-test/src/Test/Util/Orphans/DiffSeq/Arbitrary.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/Isomorphism.hs
  ouroboros-consensus-test/src/Test/Util/Orphans/NFData.hs
  ouroboros-consensus-test/src/Test/Util/TestBlock.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/HD/DiffSeq.hs
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
  semigroupoid/LICENSE
  semigroupoid/NOTICE
  semigroupoid/format-stylish.sh
  semigroupoid/semigroupoid.cabal
  semigroupoid/src/Data/Semigroupoid.hs
  semigroupoid/src/Data/Semigroupoid/Auto.hs
  semigroupoid/src/Data/Semigroupoid/Laws.hs
  semigroupoid/test/Main.hs
  semigroupoid/test/Test/Data/Semigroupoid.hs
Labels: :handshake: consensus, optimisation, benchmarking, UTxO-HD 📒💽

#4015 Error reporting for network & consensus errors
  docs/interface-CHANGELOG.md
  ouroboros-consensus/docs/interface-CHANGELOG.md
  ouroboros-consensus/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/RethrowPolicy.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/NonP2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Utils.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: networking, :handshake: consensus
