Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-10, with the labels that each got.

#4696 Improve memory footprint of some test
  cabal.project
  flake.lock
  flake.nix
  network-mux/network-mux.cabal
  ntp-client/ntp-client.cabal
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
  ouroboros-network-framework/sim-tests/Test/Simulation/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Timeouts.hs
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Script.hs
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Utils.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/sim-tests/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/sim-tests/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/sim-tests/Test/Ouroboros/Network/ShrinkCarefully.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: testing

#4702 coot/framework io tests
  flake.nix
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Subscription.hs
Labels: testing, CI

#4623 Fix NotReleasedConnections in Server2 tests
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
Labels: networking, peer2peer, testing

#4644 Fix Peer Sharing issue #4642
  docs/network-spec/miniprotocols.tex
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-api/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/PeerSharing.hs
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/PeerSharing/Codec.hs
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Unversioned.hs
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/test-cddl/Main.hs
  ouroboros-network-protocols/test-cddl/specs/handshake-node-to-node-v11-12.cddl
  ouroboros-network-protocols/test-cddl/specs/handshake-node-to-node-v13.cddl
  ouroboros-network-protocols/test-cddl/specs/node-to-node-version-data-v11-12.cddl
  ouroboros-network-protocols/test-cddl/specs/node-to-node-version-data-v13.cddl
  ouroboros-network-protocols/test-cddl/specs/peer-sharing-v11-12.cddl
  ouroboros-network-protocols/test-cddl/specs/peer-sharing-v13.cddl
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
Labels: networking, peer2peer, peer-sharing
