Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-08, with the labels that each got.

#4640 nix.flake: simplify nix setup
  .github/workflows/build.yml
  CONTRIBUTING.md
  default.nix
  flake.lock
  flake.nix
  nix/cells/automation/hydraJobs.nix
  nix/cells/cloud/actions.nix
  nix/cells/cloud/library.nix
  nix/check-nixfmt.nix
  nix/default.nix
  nix/local-config.nix
  nix/network-docs.nix
  nix/ouroboros-network.nix
  nix/pkgs.nix
  nix/regenerate.sh
  nix/scriv.nix
  nix/sources.json
  nix/sources.nix
  nix/stack-shell.nix
  nix/util.nix
  nix/windows-testing-bundle.nix
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/test/Main.hs
  release.nix
  scripts/build-with-chap.sh
  scripts/ci/cabal.project.local.Linux
  scripts/ci/cabal.project.local.Windows
  scripts/ci/cabal.project.local.Windows.CrossCompile
Labels: nix, CI

#4643 coot/flake.nix cross compilation
  CONTRIBUTING.md
  flake.lock
  flake.nix
  scripts/ci/cabal.project.local.Windows
  scripts/ci/cabal.project.local.Windows.CrossCompile
Labels: nix

#4618 Makes KnownPeers.insert idempotent
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Test/LedgerPeers.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/KnownPeers.hs
Labels: networking, peer2peer, peer-sharing
