Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-01, with the labels that each got.

#4263 `StaticEither` accessors
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util.hs
Labels: :handshake: consensus, technical debt, UTxO-HD 📒💽

#4264 Build (and cache) the dev shell on CI
  release.nix
Labels: nix, 🔄 continuous-integration

#4273 Replace `splitl`/`splitr` by `splitSized` in `DiffSeq` module
  ouroboros-consensus-test/bench-storage/Bench/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/HD/DiffSeq.hs
Labels: :handshake: consensus, benchmarking, UTxO-HD 📒💽

#4276 Make it possible to use bors again
  .github/workflows/build.yml
  bors.toml
  flake.lock
  nix/cells/automation/pipelines.nix
Labels: nix, 🔄 continuous-integration

#4265 Fix SimOpen when 1 end gets an async exception
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
Labels: networking, connection-manager, net-sim, io-sim-discovered

#4260 mux: MakeBearer interface
  cardano-ping/cardano-ping.cabal
  cardano-ping/src/Cardano/Network/Ping.hs
  network-mux/demo/mux-demo.hs
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Bearer.hs
  network-mux/src/Network/Mux/Bearer/NamedPipe.hs
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Compat.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network-framework/test/Test/Simulation/Network/Snocket.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/test/Test/Mux.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
  ouroboros-network/test/Test/PeerState.hs
  ouroboros-network/test/Test/Pipe.hs
  ouroboros-network/test/Test/Socket.hs
  scripts/ci/check-stylish-network.sh
Labels: networking, technical debt, mux

#4298 Revive links to design and spec documents
  .github/workflows/github-page.yml
  README.md
  docs/network-design/network-design.tex
  docs/network-spec/connection-manager.tex
  network-mux/src/Network/Mux/Bearer.hs
Labels: documentation, 🔄 continuous-integration

#4297 Various minor documentation fixes
  CONTRIBUTING.md
  ouroboros-consensus-test/src/Test/ThreadNet/Util/Expectations.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/InFuture.hs
  ouroboros-consensus/src/Ouroboros/Consensus/HeaderValidation.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/VolatileDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/AnchoredFragment.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/ResourceRegistry.hs
  ouroboros-network-api/src/Ouroboros/Network/AnchoredFragment.hs
  ouroboros-network-api/src/Ouroboros/Network/AnchoredSeq.hs
  ouroboros-network-api/src/Ouroboros/Network/Block.hs
  ouroboros-network-api/src/Ouroboros/Network/BlockFetch/ConsensusInterface.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Simple.hs
  ouroboros-network-mock/src/Ouroboros/Network/Mock/ProducerState.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/DeltaQ.hs
Labels: documentation

#4299 Fix Haddock CI
  .github/workflows/github-page.yml
Labels: 🔄 continuous-integration

#4296 Add the LedgerHD initial sketch
  ouroboros-consensus/docs/future-ledger-hd.md
Labels: :handshake: consensus, UTxO-HD 📒💽

#4302 Reenable consensus tutorials
  ouroboros-consensus/docs/tutorials/Ouroboros/Consensus/Tutorial/Simple.lhs
  ouroboros-consensus/docs/tutorials/Ouroboros/Consensus/Tutorial/WithEpoch.lhs
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: :handshake: consensus, UTxO-HD 📒💽

#4301 UTxO-HD: Reenable mempool forge and benchmark ledger ops
  ouroboros-consensus-cardano-tools/scripts/plot-ledger-ops-cost.gp
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Analysis.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Analysis/BenchmarkLedgerOps/SlotDataPoint.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Run.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
Labels: :handshake: consensus, UTxO-HD 📒💽

#4307 Implement the Consensus release process
  .github/PULL_REQUEST_TEMPLATE.md
  Consensus-CHANGELOG.md
  nix/pkgs.nix
  nix/scriv.nix
  ouroboros-consensus-byron-test/CHANGELOG.md
  ouroboros-consensus-byron-test/changelog.d
  ouroboros-consensus-byron-test/ouroboros-consensus-byron-test.cabal
  ouroboros-consensus-byron/CHANGELOG.md
  ouroboros-consensus-byron/changelog.d
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byronspec/CHANGELOG.md
  ouroboros-consensus-byronspec/ouroboros-consensus-byronspec.cabal
  ouroboros-consensus-cardano-test/CHANGELOG.md
  ouroboros-consensus-cardano-test/changelog.d
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-tools/CHANGELOG.md
  ouroboros-consensus-cardano-tools/LICENSE
  ouroboros-consensus-cardano-tools/changelog.d
  ouroboros-consensus-cardano-tools/ouroboros-consensus-cardano-tools.cabal
  ouroboros-consensus-cardano/CHANGELOG.md
  ouroboros-consensus-cardano/changelog.d/scriv.ini
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/CHANGELOG.md
  ouroboros-consensus-diffusion/changelog.d
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus-mock-test/CHANGELOG.md
  ouroboros-consensus-mock-test/changelog.d
  ouroboros-consensus-mock-test/ouroboros-consensus-mock-test.cabal
  ouroboros-consensus-mock/CHANGELOG.md
  ouroboros-consensus-mock/changelog.d
  ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus-protocol/CHANGELOG.md
  ouroboros-consensus-protocol/changelog.d
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-shelley-test/CHANGELOG.md
  ouroboros-consensus-shelley-test/changelog.d
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley/CHANGELOG.md
  ouroboros-consensus-shelley/changelog.d
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-test/CHANGELOG.md
  ouroboros-consensus-test/changelog.d
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus/CHANGELOG.md
  ouroboros-consensus/changelog.d/scriv.ini
  ouroboros-consensus/docs/ReleaseProcess.md
  ouroboros-consensus/ouroboros-consensus.cabal
  shell.nix
Labels: :handshake: consensus
