Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-02, with the labels that each got.

#4319 Remove redundant Proxy in `ledgerTipPoint`
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano/changelog.d/20230127_172131_jasataco_remove_redundant_proxy.md
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/CanHardFork.hs
  ouroboros-consensus-diffusion/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus-mock/src/Ouroboros/Consensus/Mock/Ledger/Block.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus/changelog.d/20230127_172122_jasataco_remove_redundant_proxy.md
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Abstract.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/ChainSel.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
Labels: :handshake: consensus

#4318 Reorganize `Storage.LedgerDB` internal modules
  .github/workflows/cabal.project.local.Linux
  ouroboros-consensus-cardano-tools/app/DBAnalyser/Parsers.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Analysis.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Analysis/BenchmarkLedgerOps/SlotDataPoint.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Run.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Types.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBSynthesizer/Run.hs
  ouroboros-consensus-diffusion/src/Ouroboros/Consensus/Node.hs
  ouroboros-consensus-test/src/Test/Util/ChainDB.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/MiniProtocol/LocalStateQuery/Server.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/Model.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/DiskPolicy.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus-test/test-storage/Test/Ouroboros/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/changelog.d/20230127_150735_javier.sagredo_reorganize_consensus_storage_ledgerdb.md
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/Validated.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Fragment/ValidatedDiff.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Args.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Init.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/LedgerDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Snapshots.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Stream.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/Update.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/TraceSize.hs
  scripts/ci/check-stylish.sh
Labels: :handshake: consensus

#4332 Reorganize mempool modules
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Ledger.hs
  ouroboros-consensus-byron-test/src/Ouroboros/Consensus/ByronDual/Node.hs
  ouroboros-consensus-byron-test/src/Test/Consensus/Byron/Examples.hs
  ouroboros-consensus-byron-test/src/Test/ThreadNet/Infra/Byron/ProtocolInfo.hs
  ouroboros-consensus-byron-test/test/Test/Consensus/Byron/Serialisation.hs
  ouroboros-consensus-byron-test/test/Test/ThreadNet/Byron.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Forge.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Ledger/Mempool.hs
  ouroboros-consensus-byron/src/Ouroboros/Consensus/Byron/Node.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/test/Test/ThreadNet/Cardano.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Node/Protocol/Byron.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Node/Protocol/Cardano.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Node/Protocol/Shelley.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Analysis.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Block/Byron.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Block/Cardano.hs
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Block/Shelley.hs
  ouroboros-consensus-cardano/changelog.d/20230202_133339_javier.sagredo_reorganize_mempool.md
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-diffusion/src/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus-diffusion/src/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Coherence.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Common.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Praos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/TPraos.hs
  ouroboros-consensus-test/src/Test/ThreadNet/Network.hs
  ouroboros-consensus-test/test-consensus/Test/Consensus/Mempool.hs
  ouroboros-consensus/changelog.d/20230202_133330_javier.sagredo_reorganize_mempool.md
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/Ouroboros/Consensus/Block/Forging.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Capacity.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Common.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Pure.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Impl/Types.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Init.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Query.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxLimits.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/TxSeq.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Mempool/Update.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxMonitor/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/MiniProtocol/LocalTxSubmission/Server.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Util/CBOR.hs
  scripts/ci/check-stylish.sh
Labels: :handshake: consensus

#4354 Release ouroboros-consensus-cardano 0.2.0.0
  ouroboros-consensus-byron-test/ouroboros-consensus-byron-test.cabal
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byronspec/ouroboros-consensus-byronspec.cabal
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-tools/ouroboros-consensus-cardano-tools.cabal
  ouroboros-consensus-cardano/CHANGELOG.md
  ouroboros-consensus-cardano/changelog.d/20230127_172131_jasataco_remove_redundant_proxy.md
  ouroboros-consensus-cardano/changelog.d/20230131_145832_damian.only_issue_3962_conway.md
  ouroboros-consensus-cardano/changelog.d/20230202_133339_javier.sagredo_reorganize_mempool.md
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
Labels: :handshake: consensus

#4353 Release consensus 0.2.0.0
  ouroboros-consensus-byron-test/ouroboros-consensus-byron-test.cabal
  ouroboros-consensus-byron/ouroboros-consensus-byron.cabal
  ouroboros-consensus-byronspec/ouroboros-consensus-byronspec.cabal
  ouroboros-consensus-cardano-test/ouroboros-consensus-cardano-test.cabal
  ouroboros-consensus-cardano-tools/ouroboros-consensus-cardano-tools.cabal
  ouroboros-consensus-cardano/CHANGELOG.md
  ouroboros-consensus-cardano/changelog.d/20230127_172131_jasataco_remove_redundant_proxy.md
  ouroboros-consensus-cardano/changelog.d/20230131_145832_damian.only_issue_3962_conway.md
  ouroboros-consensus-cardano/changelog.d/20230202_133339_javier.sagredo_reorganize_mempool.md
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus-mock-test/ouroboros-consensus-mock-test.cabal
  ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-shelley-test/ouroboros-consensus-shelley-test.cabal
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus/CHANGELOG.md
  ouroboros-consensus/changelog.d/20230127_150735_javier.sagredo_reorganize_consensus_storage_ledgerdb.md
  ouroboros-consensus/changelog.d/20230127_172122_jasataco_remove_redundant_proxy.md
  ouroboros-consensus/changelog.d/20230131_145319_damian.only_issue_3962_conway.md
  ouroboros-consensus/changelog.d/20230202_133330_javier.sagredo_reorganize_mempool.md
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: :handshake: consensus

#4361 Enforce changelog check in Bors
  .github/workflows/consensus-changelog-consistency.yml
  bors.toml
Labels: 🔄 continuous-integration

#4362 ouroboros-network-testing-0.2.0.1
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
Labels: networking

#4365 Bump version of monoidal-synchronisation
  monoidal-synchronisation/CHANGELOG.md
  monoidal-synchronisation/monoidal-synchronisation.cabal
Labels: networking

#4375 contributing guide
  CONTRIBUTING.md
Labels: networking

#4377 db-analyser: correct protocol versions
  ouroboros-consensus-cardano-tools/src/Cardano/Tools/DBAnalyser/Block/Cardano.hs
Labels: :handshake: consensus

#4397 Updated changelogs and bumped ouroboros-network to 0.4.0.1
  network-mux/CHANGELOG.md
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
Labels: networking

#4411 Fix hashtag in `network-spec` docs
  docs/network-spec/miniprotocols.tex
Labels: networking, documentation

#4412 Release ouroboros-consensus 0.3.0.0
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus-mock-test/ouroboros-consensus-mock-test.cabal
  ouroboros-consensus-mock/ouroboros-consensus-mock.cabal
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-test/ouroboros-consensus-test.cabal
  ouroboros-consensus-tutorials/ouroboros-consensus-tutorials.cabal
  ouroboros-consensus/CHANGELOG.md
  ouroboros-consensus/changelog.d/20230227_125617_jasataco_add_deprecations.md
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: :handshake: consensus
