Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-06, with the labels that each got.

#4586 Snocket API: improved haddocks
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
Labels: networking, Snocket

#4590 Wireshark dissector improvements
  ouroboros-network/CHANGELOG.md
  ouroboros-network/wireshark-plugin/ouroboros_network.lua
Labels: networking

#4593 cardano-ping trace log changes
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  cardano-ping/src/Cardano/Network/Ping.hs
Labels: networking, cardano-ping

#4601 cardano-ping: fixed support of node-to-client protocol
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  cardano-ping/src/Cardano/Network/Ping.hs
Labels: networking, cardano-ping

#4596 dns: limit concurrency when resolving dns names
  ouroboros-network/CHANGELOG.md
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Simple.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/test/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Labels: networking, DNS
