Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-11, with the labels that each got.

#4711 Fixed haddocks script
  scripts/haddocs.sh
Labels: documentation, CI

#4625 Refactor PeerSelection.RootPeersDNS
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/LedgerPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/Json.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/KnownPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerSelectionActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/DNSActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/DNSSemaphore.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LocalRootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/PublicRootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Types.hs
Labels: networking, peer2peer, DNS

#4728 Disable PeerSharing completely for NTNV_11-12
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
Labels: bug, networking, peer2peer, peer-sharing

#4734 Fixes async demotions to Cold not being noticed
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
Labels: bug, networking, outbound-governor
