Repository IntersectMBO/ouroboros-network, pull requests merged in 2023-09, with the labels that each got.

#4661 Refactor `Ouroboros.Network.Diffusion.runM`
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: galois-review

#4666 network-mux: build against vector-0.13
  network-mux/network-mux.cabal
Labels: mux

#4619 Adds ledger peers in the diffusion simulation
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests/Test/Ouroboros/Network/LedgerPeers.hs
  ouroboros-network/sim-tests/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
Labels: networking, net-sim
