Repository IntersectMBO/ouroboros-network, pull requests merged in 2024-05, with the labels that each got.

#4867 Retry time fixes
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/PublicRootPeers.hs
Labels: outbound-governor, bootstrap

#4870 contributing guide: nix hash format in an srp
  CONTRIBUTING.md
Labels: documentation

#4868 peer sharing changes
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Server2/IO.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionId.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Experiments.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/InboundGovernor/Test/Utils.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerSelectionActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSharing.hs
Labels: inbound-governor, outbound-governor, peer-sharing

#4871 inbound governor error handling
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
Labels: inbound-governor

#4873 ouroboros-network-0.16 release
  cardano-client/cardano-client.cabal
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
Labels: release

#4877 Fix haddocks for `TrustedStateWithExternalPeers`
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
Labels: documentation

#4882 Updated badges
  README.md
Labels: documentation

#4883 Don't include failing peers in peershare rsps
  ouroboros-network/CHANGELOG.md
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
Labels: peer-sharing
