Repository IntersectMBO/ouroboros-network, pull requests merged in 2024-07, with the labels that each got.

#4907 Add support for requesting tip from peer
  cardano-ping/CHANGELOG.md
  cardano-ping/src/Cardano/Network/Ping.hs
Labels: cardano-ping

#4909 Small improvements and bug fix in the Signal API
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Signal.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
Labels: testing

#4914 TxSubmission, part 1: code refactoring
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-api/src/Ouroboros/Network/SizeInBytes.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Server.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Type.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/TxSubmission2/Examples.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/TxSubmission.hs
  ouroboros-network/src/Control/Concurrent/Class/MonadSTM/Strict/TMergeVar.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Mempool/Reader.hs
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Outbound.hs
  scripts/ci/check-stylish.sh
Labels: tx-submission

#4851 Introduction of serialization instances in support of ledger peer snapshot
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LedgerPeers/Type.hs
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/RelayAccessPoint.hs
Labels: Genesis

#4850 Feed peer selection governor with big ledger peers obtained from a snapshot
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LedgerPeers/Utils.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers/Common.hs
Labels: Genesis
