Repository IntersectMBO/ouroboros-network, pull requests merged in 2024-12, with the labels that each got.

#4395 RawBearer API
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/io-tests/Main.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/RawBearer.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/RawBearer.hs
  ouroboros-network-framework/src/Ouroboros/Network/RawBearer.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/test/Main.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/RawBearer/Test/Utils.hs
Labels: mux

#4919 BulkSync BlockFetch implementation for Genesis
  ouroboros-network-api/src/Ouroboros/Network/BlockFetch/ConsensusInterface.hs
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Internal.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Node.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision/Genesis.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision/Trace.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/State.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Configuration.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Churn.hs
Labels: Genesis, block-fetch

#5022 documentation: improved genesis haddocs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Decision/Genesis.hs
  scripts/ci/check-stylish-ignore
Labels: documentation

#5017 Modify connection manager state data type
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
  ouroboros-network-framework/sim-tests/Test/Simulation/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionId.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/ConnMap.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/State.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server2.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Experiments.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Utils.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
Labels: connection-manager

#5009 Remove field `blockForgeUTCTime` since `headerForgeUTCTime` is enough.
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/BlockFetch/ConsensusInterface.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/sim-tests-lib/Ouroboros/Network/BlockFetch/Examples.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Node.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
Labels: consensus

#5026 Improved connection manager transition tests
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Experiments.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Internal.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Node.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: testing, connection-manager

#5028 Renamed test modules
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Driver.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/RawBearer.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Server2/IO.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/RawBearer.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server2/Sim.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network-framework/sim-tests/Test/Simulation/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/State.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Experiments.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Timeouts.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Utils.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/InboundGovernor/Utils.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/Orphans.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/RawBearer/Utils.hs
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/test/Test/Chain.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/KeepAlive/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxMonitor/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/PeerSharing/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network-protocols/testlib/Test/Ouroboros/Network/Protocol/Utils.hs
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network-testing/src/Test/Ouroboros/Network/Data/AbsBearerInfo.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/Data/Script.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/Data/Signal.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/QuickCheck.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/Serialise.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/Utils.hs
  ouroboros-network-testing/test/Main.hs
  ouroboros-network-testing/test/Test/Ouroboros/Network/Data/AbsBearerInfo/Test.hs
  ouroboros-network/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/LedgerPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PeerGraph.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PeerMetric.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PublicRootPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Internal.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/TxSubmission.hs
Labels: testing
