Repository IntersectMBO/ouroboros-network, pull requests merged in 2024-03, with the labels that each got.

#4819 Ping updates
  cardano-ping/CHANGELOG.md
  cardano-ping/src/Cardano/Network/Ping.hs
Labels: cardano-ping

#4795 PeerSharingServer refactorisation #4782
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node/NodeKernel.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/NonP2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSharing.hs
Labels: peer-sharing

#4808 Added central configuration module
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion/Configuration.hs
Labels: good first issue, diffusion

#4798 CBOR mini-protocols codecs benchmarks
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network-api/src/Ouroboros/Network/NodeToNode/Version.hs
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Type.hs
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/bench-cddl/Main.hs
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/BlockFetch/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/ChainSync/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/KeepAlive/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxMonitor/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxSubmission/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/PeerSharing/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Type.hs
  ouroboros-network-protocols/test-cddl/Main.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/BlockFetch/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/ChainSync/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalStateQuery/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxMonitor/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxSubmission/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxSubmission/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/PeerSharing/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/TxSubmission2/Codec/CDDL.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/TxSubmission2/Test.hs
  ouroboros-network-protocols/testlib/Test/Data/CDDL.hs
Labels: benchmarking

#4822 Let Light PeerSharing depend on PeerSharing flag
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Experiments.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
Labels: peer-sharing

#4717 Run CBOR Codec benchmarks on CI
  .github/workflows/benchmarks.yml
  flake.nix
  scripts/ci/cabal.project.local.macOS
  scripts/ci/run-miniprotocol-codec-benchmarks.hs
Labels: benchmarking

#4835 Honour policyPeerShareActivationDelay timeout
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/EstablishedPeers.hs
Labels: peer-sharing
