Repository IntersectMBO/ouroboros-network, pull requests merged in 2024-01, with the labels that each got.

#4757 Adds unit test to check for phantom connections
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Signal.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
Labels: testing, outbound-governor

#4727 Make it build with ghc-9.8
  .github/workflows/build.yml
  cabal.project
  cardano-client/CHANGELOG.md
  cardano-client/cardano-client.cabal
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  monoidal-synchronisation/CHANGELOG.md
  monoidal-synchronisation/monoidal-synchronisation.cabal
  network-mux/CHANGELOG.md
  network-mux/network-mux.cabal
  network-mux/test/Test/Mux.hs
  ntp-client/CHANGELOG.md
  ntp-client/ntp-client.cabal
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Server2/IO.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Subscription.hs
  ouroboros-network-framework/testlib/Ouroboros/Network/ConnectionManager/Test/Experiments.hs
  ouroboros-network-mock/CHANGELOG.md
  ouroboros-network-mock/ouroboros-network-mock.cabal
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/ChainSync/PipelineDecision.hs
  ouroboros-network-protocols/test/Test/AnchoredFragment.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/ChainSync/ExamplesPipelined.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network-protocols/testlib/Test/ChainGenerators.hs
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/MockNode.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PeerMetric.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
Labels: maintenance, dependencies

#4739 KnownPeers insert function bug fix and PeerSharing improvements
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
Labels: bug, peer-sharing

#4771 PipeliningDepth QuickCheck generator
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/BlockFetch/Test.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/ChainSync/Test.hs
  ouroboros-network-protocols/testlib/Test/Data/PipeliningDepth.hs
Labels: testing, block-fetch, chain-sync

#4765 LocalStateQuery: let the client acquire the immutable tip
  docs/network-spec/miniprotocols.tex
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/NodeToClient/Version.hs
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Server.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network-protocols/test-cddl/Main.hs
  ouroboros-network-protocols/test-cddl/specs/local-state-query.cddl
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalStateQuery/Direct.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalStateQuery/Examples.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalStateQuery/Test.hs
Labels: local-state-query

#4775 Update block-size
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
Labels: block-fetch

#4790 Doc: Handshake should pass TRUE for initiatorOnlyDiffusionMode
  ouroboros-network-protocols/test-cddl/specs/handshake-node-to-node-v11-12.cddl
  ouroboros-network-protocols/test-cddl/specs/handshake-node-to-node-v13.cddl
  ouroboros-network-protocols/test-cddl/specs/handshake-node-to-node.cddl
  ouroboros-network-protocols/test-cddl/specs/node-to-node-version-data-v11-12.cddl
  ouroboros-network-protocols/test-cddl/specs/node-to-node-version-data-v13.cddl
  ouroboros-network-protocols/test-cddl/specs/node-to-node-version-data.cddl
Labels: documentation

#4778 Limit the rate with which one can discover all nodes
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
Labels: peer-sharing

#4792 Codebase cleanup
  flake.lock
  flake.nix
  network-mux/src/Network/Mux/Bearer.hs
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Compat.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/src/Network/Mux/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/BlockFetch/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/BlockFetch/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/BlockFetch/Server.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/BlockFetch/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Server.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxMonitor/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxSubmission/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxSubmission/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/PeerSharing/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/PeerSharing/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Hello/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Hello/Type.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/Client.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/ClientState.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/DeltaQ.hs
  ouroboros-network/src/Ouroboros/Network/BlockFetch/State.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/NonP2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/src/Ouroboros/Network/ExitPolicy.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Churn.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSharing.hs
Labels: technical debt

#4555 Bootstrap Peers Implementation
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/Bootstrap.hs
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LedgerPeers/Type.hs
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/PeerTrustable.hs
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network-testing/src/Ouroboros/Network/Testing/Data/Script.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/LedgerPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/KnownPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/LocalRootPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PeerMetric.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/PublicRootPeers.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
  ouroboros-network/sim-tests/Main.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/ActivePeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/EstablishedPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers/Common.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerSelectionActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerStateActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PublicRootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LocalRootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/LocalRootPeers.hs
Labels: outbound-governor, bootstrap

#4789 Trace PeerSelectionState
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/State/KnownPeers.hs
Labels: diffusion
