Repository IntersectMBO/ouroboros-network, pull requests merged in 2024-08, with the labels that each got.

#4888 Verification of big ledger peer snapshot file
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LedgerPeers/Type.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerSelection/MockEnvironment.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Monitor.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerSelectionActions.hs
Labels: Genesis, outbound-governor

#4931 Log remote address and port in tip message.
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  cardano-ping/src/Cardano/Network/Ping.hs
Labels: cardano-ping

#4930 TxSubmission - add initial delay before requesting transactions
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/TxSubmission/Inbound.hs
Labels: tx-submission

#4937 check-stylish: use git but not on hydra (nix)
  nix/check-stylish.nix
  scripts/ci/check-stylish.sh
Labels: CI

#4886 Make it possible to compile with tcp tracing again
  network-mux/CHANGELOG.md
  network-mux/src/Network/Mux/TCPInfo.hs
  network-mux/src/Network/Mux/Trace.hs
Labels: mux

#4944 Use cabal haddock-project in GHA
  .github/workflows/github-page.yml
  README.md
  scripts/haddocs.sh
  scripts/prologue
Labels: documentation, CI
