Repository IntersectMBO/ouroboros-network, pull requests merged in 2025-06, with the labels that each got.

#4951 io-classes-1.8
  cabal.project
  cardano-client/cardano-client.cabal
  cardano-ping/cardano-ping.cabal
  decentralized-message-queue/decentralized-message-queue.cabal
  network-mux/network-mux.cabal
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Timeouts.hs
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/testlib/Test/Ouroboros/Network/BlockFetch.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/Cardano/MockEnvironment.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Labels: nix, io-classes

#5104 Inbound governor performance improvement
  docs/network-spec/connection-manager.tex
  network-mux/CHANGELOG.md
  network-mux/demo/mux-demo.hs
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server/Sim.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/sim-tests/Test/Simulation/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/Event.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/InformationChannel.hs
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor/State.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Experiments.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/Utils.hs
  ouroboros-network/io-tests/Test/Ouroboros/Network/Pipe.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Types.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano/Simulation.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Mux.hs
Labels: documentation, optimisation, mux, inbound-governor

#5145 Hydra: don't run expensive tests on darwin
  nix/ouroboros-network.nix
  nix/shell.nix
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Main.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/RawBearer.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Socket.hs
Labels: nix, testing

#4980 Randomized ProtocolTimeLimits
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-api/src/Ouroboros/Network/Protocol/Limits.hs
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/src/Ouroboros/Network/Driver/Limits.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake/Codec.hs
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/BlockFetch/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/KeepAlive/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/PeerSharing/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/TxSubmission2/Codec.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Configuration.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Policies.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano/Simulation.hs
Labels: chain-sync

#5153 Release ouroboros-network-0.22
  cardano-client/CHANGELOG.md
  cardano-client/cardano-client.cabal
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  cardano-ping/src/Cardano/Network/Ping.hs
  decentralized-message-queue/decentralized-message-queue.cabal
  network-mux/CHANGELOG.md
  network-mux/network-mux.cabal
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/ChainSync/Codec.hs
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/CHANGELOG.md
  ouroboros-network/cardano-diffusion/Cardano/Network/Diffusion/Configuration.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano/Simulation.hs
Labels: cardano-ping, release
