Repository IntersectMBO/ouroboros-network, pull requests merged in 2025-03, with the labels that each got.

#5087 Bump package versions
  cardano-client/cardano-client.cabal
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  network-mux/CHANGELOG.md
  network-mux/network-mux.cabal
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
Labels: release

#5092 Fixed LedgerPeers generators
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano/Simulation.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/LedgerPeers.hs
Labels: testing, testnet

#5090 LedgerPeers: code cleanup
  .github/workflows/github-page.yml
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LedgerPeers/Type.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers/Common.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LedgerPeers.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Labels: technical debt

#5018 SRV implementation
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/LedgerPeers/Type.hs
  ouroboros-network-api/src/Ouroboros/Network/PeerSelection/RelayAccessPoint.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/src/Ouroboros/Cardano/PeerSelection/PeerSelectionActions.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/BigLedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/RootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/Governor/Types.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/PeerSelectionActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/DNSActions.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LedgerPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LocalRootPeers.hs
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/PublicRootPeers.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano/Simulation.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/LedgerPeers.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/Cardano/MockEnvironment.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/Instances.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/Json.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/PeerSelection/RootPeersDNS.hs
Labels: DNS

#5102 testnet improvements
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
Labels: testing, technical debt

#5093 Mux performance improvements
  cardano-ping/src/Cardano/Network/Ping.hs
  network-mux/CHANGELOG.md
  network-mux/bench/socket_read_write/Main.hs
  network-mux/demo/mux-demo.hs
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Bearer.hs
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  network-mux/src/Network/Mux/Bearer/NamedPipe.hs
  network-mux/src/Network/Mux/Bearer/Pipe.hs
  network-mux/src/Network/Mux/Bearer/Queues.hs
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/Codec.hs
  network-mux/src/Network/Mux/Egress.hs
  network-mux/src/Network/Mux/Ingress.hs
  network-mux/src/Network/Mux/Trace.hs
  network-mux/src/Network/Mux/Types.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/sim-tests/Test/Simulation/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Simulation/Network/Snocket.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Experiments.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/Handshake/Test.hs
  ouroboros-network/io-tests/Test/Ouroboros/Network/Pipe.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Types.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/testlib/Test/Ouroboros/Network/Mux.hs
Labels: mux

#5097 Test that cover the capability option for mux
  network-mux/test/Test/Mux.hs
Labels: mux

#5105 Introduced cddlc tool
  docs/network-spec/network-spec.tex
  flake.lock
  network-mux/network-mux.cabal
  nix/cddlc/Gemfile
  nix/cddlc/Gemfile.lock
  nix/cddlc/gemset.nix
  nix/cddlc/package.nix
  nix/ouroboros-network.nix
  nix/tools.nix
  ouroboros-network-protocols/cddl/Main.hs
  ouroboros-network-protocols/cddl/specs/block-fetch.cddl
  ouroboros-network-protocols/cddl/specs/chain-sync.cddl
  ouroboros-network-protocols/cddl/specs/handshake-node-to-client.cddl
  ouroboros-network-protocols/cddl/specs/handshake-node-to-node-v14.cddl
  ouroboros-network-protocols/cddl/specs/keep-alive.cddl
  ouroboros-network-protocols/cddl/specs/local-state-query.cddl
  ouroboros-network-protocols/cddl/specs/local-tx-monitor.cddl
  ouroboros-network-protocols/cddl/specs/local-tx-submission.cddl
  ouroboros-network-protocols/cddl/specs/network.base.cddl
  ouroboros-network-protocols/cddl/specs/node-to-node-version-data-v14.cddl
  ouroboros-network-protocols/cddl/specs/peer-sharing-v14.cddl
  ouroboros-network-protocols/cddl/specs/tx-submission2.cddl
  ouroboros-network/src/Ouroboros/Network/PeerSelection/RootPeersDNS/LedgerPeers.hs
Labels: documentation, cddl, PI-9
