Repository IntersectMBO/ouroboros-network, pull requests merged in 2025-02, with the labels that each got.

#5060 Fix rethrow policy
  ouroboros-network/CHANGELOG.md
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: bug

#4918 LocalTxMonitor: Add support for GetMeasures
  docs/network-spec/miniprotocols.tex
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/bench-cddl/Main.hs
  ouroboros-network-protocols/cddl/Main.hs
  ouroboros-network-protocols/cddl/specs/local-tx-monitor.cddl
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalStateQuery/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxMonitor/Client.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxMonitor/Codec.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxMonitor/Server.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxMonitor/Type.hs
  ouroboros-network-protocols/src/Ouroboros/Network/Protocol/LocalTxSubmission/Type.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxMonitor/Direct.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxMonitor/Examples.hs
  ouroboros-network-protocols/testlib/Ouroboros/Network/Protocol/LocalTxMonitor/Test.hs
Labels: consensus, local-tx-monitor

#5064 release-to-chap.sh: fixed boolean logic
  scripts/release-to-chap.sh
Labels: release

#5073 Added haddocks to MiniProtocol type
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
Labels: documentation

#5067 diffusion: IOError rethrow policy
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: diffusion

#5069 Mux: bind threads to a capability
  network-mux/demo/mux-demo.hs
  network-mux/src/Control/Concurrent/JobPool.hs
  network-mux/src/Network/Mux.hs
  network-mux/src/Network/Mux/Types.hs
  network-mux/test/Test/Mux.hs
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/sim-tests/Test/Simulation/Network/Snocket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionHandler.hs
  ouroboros-network-framework/src/Ouroboros/Network/Mux.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Experiments.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/io-tests/Test/Ouroboros/Network/Pipe.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Mux.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
Labels: mux

#5007 Removal of NonP2P Network Components
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/demo/connection-manager.hs
  ouroboros-network-framework/demo/ping-pong.hs
  ouroboros-network-framework/io-tests/Main.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Server/IO.hs
  ouroboros-network-framework/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/sim-tests/Main.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/ConnectionManager.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Server/Sim.hs
  ouroboros-network-framework/sim-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/ErrorPolicy.hs
  ouroboros-network-framework/src/Ouroboros/Network/Protocol/Handshake.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server/Simple.hs
  ouroboros-network-framework/src/Ouroboros/Network/Server/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Socket.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Client.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Dns.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Ip.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/PeerState.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Subscriber.hs
  ouroboros-network-framework/src/Ouroboros/Network/Subscription/Worker.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/ConnectionManager/Experiments.hs
  ouroboros-network-framework/testlib/Test/Ouroboros/Network/InboundGovernor/Utils.hs
  ouroboros-network-testing/src/Test/Ouroboros/Network/Data/AbsBearerInfo.hs
  ouroboros-network/CHANGELOG.md
  ouroboros-network/demo/chain-sync.hs
  ouroboros-network/io-tests/Test/Ouroboros/Network/Socket.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Node/MiniProtocols.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/Diffusion/Testnet/Cardano/Simulation.hs
  ouroboros-network/sim-tests-lib/Test/Ouroboros/Network/PeerState.hs
  ouroboros-network/sim-tests/Main.hs
  ouroboros-network/src/Ouroboros/Cardano/Network/Diffusion/Handlers.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Common.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Types.hs
  ouroboros-network/src/Ouroboros/Network/Diffusion/Utils.hs
  ouroboros-network/src/Ouroboros/Network/NodeToClient.hs
  ouroboros-network/src/Ouroboros/Network/NodeToNode.hs
  ouroboros-network/src/Ouroboros/Network/Tracers.hs
  scripts/prologue
Labels: technical debt, diffusion, PI-9

#5085 Ouroboros-Network-0.20 release
  cardano-client/cardano-client.cabal
  cardano-ping/CHANGELOG.md
  cardano-ping/cardano-ping.cabal
  network-mux/CHANGELOG.md
  network-mux/network-mux.cabal
  ouroboros-network-api/CHANGELOG.md
  ouroboros-network-api/ouroboros-network-api.cabal
  ouroboros-network-framework/CHANGELOG.md
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-protocols/CHANGELOG.md
  ouroboros-network-protocols/ouroboros-network-protocols.cabal
  ouroboros-network-testing/CHANGELOG.md
  ouroboros-network-testing/ouroboros-network-testing.cabal
  ouroboros-network/CHANGELOG.md
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion.hs
Labels: diffusion, release
